<div class="container error-404">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1>404 error</h1>
            <h1>ААаааааа-аа-ааа! Цієї сторінки не існує</h1>
            <h3>Не хвилюйтесь! Ви можете повернутись на нашу <a href="/#/map">головну сторінку</a> або ж залишитись тут
                і слухати як кричить коза.</h3>
            <iframe  src="https://www.youtube.com/embed/SIaFtAKnqBU?vq=hd720&amp;rel=0&amp;showinfo=0&amp;controls=0&amp;iv_load_policy=3&amp;loop=1&amp;playlist=SIaFtAKnqBU&amp;modestbranding=1&amp;autoplay=1" frameborder="0" class="video-fluid" allowfullscreen></iframe>
        </div>
    </div>
</div>
