<div class="content-resize">
    <div class="row-resize">
        <ui-gmap-google-map center='getMapParams().center' zoom='getMapParams().zoom'
                            id="map" draggable="true" options="options"
                            events="map.events" ng-click="createMarker()"  scrollwheel="true">
            <ui-gmap-markers models='markers' idkey="'problem_id'" coords="'self'"
                 click="zoomMarker" doCluster="true" options="markers.options" draggable="true"
                 events="markers.events" icon="'iconUrl'" scrollwheel="true">
            </ui-gmap-markers>
            <ui-gmap-marker coords="marker.coords" ng-model="marker" draggable="true"
                       options="marker.options" events="marker.events" idkey="marker.id"  scrollwheel="true">
            </ui-gmap-marker>
        </ui-gmap-google-map>

        <section id="two" resizable r-directions="['left']" r-flex="true">

          <uib-tabset justified="true">
            <uib-tab heading="Опис" ng-show="!createdProblemId">
                <form name="addProblemForm" ng-submit="addProblem(newProblem, addProblemForm, photos)"
                      class="page-edit-form" novalidate enctype="multipart/form-data" ng-show="!createdProblemId">
                    <div class="row">
                        <div class="form-group col-lg-12">
                          <label for="" class="control-label">Пошук за координатами</label>
                        </div>
                        <div class="form-group col-lg-4" ng-class="{ 'has-error': (addProblemForm.latitude.$touched || submitted) && addProblemForm.latitude.$invalid}">
                            <input type="text" placeholder='Довгота' class="form-control" name="latitude" id="latitude"
                                   ng-model="newProblem.latitude" ng-maxlength="255"  required>
                            <div class="help-block" ng-messages="addProblemForm.latitude.$error"
                                  ng-show="addProblemForm.latitude.$touched || submitted">
                                <p ng-messages-include="/templates/error_msgs.html"></p>
                            </div>
                        </div>
                        <div class="form-group col-lg-4" ng-class="{ 'has-error': (addProblemForm.longitude.$touched || submitted) && addProblemForm.longitude.$invalid}">
                            <input type="text" placeholder='Широта' class="form-control" name="longitude" id="longitude"
                                   ng-model="newProblem.longitude" ng-max-length="255" required>
                            <div class="help-block" ng-messages="addProblemForm.longitude.$error"
                                  ng-show="addProblemForm.longitude.$touched || submitted">
                              <p ng-messages-include="/templates/error_msgs.html"></p>
                            </div>
                        </div>
                        <div class="form-group col-lg-4">
                          <input type='button' ng-click="reloadPos()" value='Пошук' class="btn btn-default form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                          <button type="button" class="btn btn-default form-control" ng-click="locateUser()"><i class="fa fa-map-marker"></i> Знайти мене</button>
                          <!-- <input type='button' value='Знайти мене' class="btn btn-default form-control" ng-click="locateUser()"> -->
                        </div>
                    </div>

                    <div class="form-group addProblem" ng-class="{ 'has-error': (addProblemForm.title.$touched || submitted) && addProblemForm.title.$invalid}">
                        <label for="title" class="control-label">Заголовок проблеми</label>
                        <input type="text" class="form-control" name="title" id="title" ng-model="newProblem.title" ng-maxlength="255" ng-minlength="2" required>
                        <div class="help-block" ng-messages="addProblemForm.title.$error" ng-show="addProblemForm.title.$touched || submitted">
                            <div ng-messages-include="/templates/error_msgs.html"></div>
                        </div>
                    </div>

                    <div class="form-group addProblem" ng-class="{ 'has-error': (addProblemForm.problem_type_id.$touched || submitted) && addProblemForm.problem_type_id.$invalid}">
                        <label for="problem_type_id" class="control-label">Тип проблеми</label>
                        <select name="problem_type_id" id="problem_type_id" ng-model="newProblem.type"
                             class="form-control" required>
                            <option ng-repeat="type in problemTypes" value="{{ type.id }}">{{ type.name }}</option>
                        </select>
                        <div class="help-block" ng-messages="addProblemForm.problem_type_id.$error" ng-show="addProblemForm.problem_type_id.$touched || submitted">
                            <div ng-messages-include="/templates/error_msgs.html"></div>
                        </div>
                    </div>

                    <div class="form-group addProblem" ng-class="{ 'has-error': (addProblemForm.content.$touched || submitted) && addProblemForm.content.$invalid}">
                        <label for="problemContent" class="control-label">Опис проблеми</label>
                        <textarea name="content"  id="problemContent" cols="30" rows="5" class="form-control"
                                  ng-maxlength="255" ng-minlength="2"
                                  ng-model="newProblem.content"></textarea>
                        <div class="help-block" ng-messages="addProblemForm.content.$error" ng-show="addProblemForm.content.$touched || submitted">
                            <div ng-messages-include="/templates/error_msgs.html"></div>
                        </div>
                    </div>

                    <div class="form-group addProblem" ng-class="{ 'has-error': (addProblemForm.proposal.$touched || submitted) && addProblemForm.proposal.$invalid}">
                        <label for="proposal" class="control-label">Пропозиції щодо вирішення</label>
                        <div class="help-block" ng-messages="addProblemForm.proposal.$error" ng-show="addProblemForm.proposal.$touched || submitted">
                            <div ng-messages-include="/templates/error_msgs.html"></div>
                        </div>
                        <textarea name="proposal"  id="proposal" cols="30" rows="5" class="form-control"
                                  ng-maxlength="255" ng-minlength="2"
                                  ng-model="newProblem.proposal"></textarea>
                    </div>
                <button class="btn btn-primary fl-right" type="submit" >Додати оповіщення</button>

                <div class="clear"></div>
            </form>
        </uib-tab>

        <uib-tab heading="Додати фото" id="addPhotoTab">
            <div>
            <form name="uploadProblemPhoto" class="uploadPhoto">
                <div class="btn btn-info photo-btn add" ngf-select="" name="file" ng-model="photos"
                     ngf-pattern="'image/*'" accept="image/*"
                     ngf-max-size="5MB" ngf-keep="'distinct'"
                     ngf-resize="{quality: .8, type: 'image/png', centerCrop: true}"
                     ngf-multiple="true" ngf-capture="'camera'"
                     ngf-change="check(uploadProblemPhoto)">Додати фото +</div>

                <div ng-show="photos.length==0">оберіть одне або декілька зображень. максимальний розмір 5мб</div>
                <div ng-show="validationStatus">{{ arrayValidation.len }}</div>
                <div class="thumbs">

                    <div ng-repeat="f in photos" class="thumb-box">

                        <div class="thumb">
                        <img ngf-thumbnail="f">
                        <span class="text-content" ng-click="removePhoto(f, photos)">
                            <span>видалити</span>
                        </span>
                        </div>
                        <textarea ng-model="f.description" cols="15" rows="3" name="description"
                                   value="f.description" placeholder="Додати опис до фотографії"
                                   class="thumb-descr">
                        </textarea>
                    </div>
                </div>
                <button class="btn btn-success photo-btn"
                        ng-disabled=" photos.length==0 || !createdProblemId"
                        ng-show="photos.length>0"
                        ng-click="arrayUpload(photos)">Завантажити фото</button>
                <div class="btn btn-info photo-btn remove" ng-click="photos = []"
                     ng-show="photos.length>1">Відміна</div>
            </form>
            </div>
        </uib-tab>
      </uib-tabset>
        </section>
    </div>
</div>
