
<!-- body -->

    {% if data %}
    <table>
        <tr>
            <th>користувач</th>
            <th>email</th>
            <th>кількість спроб зміни паролб за добу</th>
        </tr>
        {% for row in data %}
            <tr>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <h1>За останню добу жоден з користувачів пароль не змінював!</h1>
    {% endif %}

