<link rel="stylesheet" href="/css/admin.css">


<!-- <div class="row">
  <div class="col-md-12">
  <div ui-view name="header" class="headNav"></div>
  <div ui-view name="admin" class="admin"></div>
  </div>
</div> -->

<div class="container" >
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <a href="/#/user_profile" class="return-profile">Повернутись до профілю</a>
      <div class="clear"></div>
      <h3>Адміністрування</h3>
      <hr>
      <uib-tabset justified="true">

        <uib-tab heading="Ресурси" >          
        </uib-tab>

        <uib-tab heading="Права">

        </uib-tab>

        <uib-tab heading="Ролі">
        


        </uib-tab>
        <uib-tab heading="Користувачі" ng-click="loadPagination()">
        
        </uib-tab>

      </uib-tabset>
    </div>
  </div>
</div>


