{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Form __botstrapped__ Example{% endblock %}

{% block page_content %}
{#    TRADITIONAL FORM #}
{#    <div class="container">#}
{#        <form method="POST" action="">#}
{#            {{ form.name.label }} {{ form.name(size=20) }}#}
{#            {% for error in form.name.errors %}#}
{#                {{ error }}#}
{#            {% endfor %}#}
{#            <br>#}
{#            {{ form.submit() }}#}
{#            {{ form.hidden_tag() }}#}
{#        </form>#}
{#        {% if name %}#}
{#            <h1>Hello, {{ name }}!</h1>#}
{#        {% endif %}#}
{#    </div>#}

{#    BOOTSTRAPED WTF QUICK FORM#}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {{ wtf.quick_form(form) }}
                {% if name %}
                    <h1>Hello {{ name }} {{ text }} </h1>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}