{% extends 'bootstrap/base.html' %}

{% block title %}FLaskINIT {% endblock %}

{% block navbar %}
    MODULE _FLASK_INIT_
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container" >
            <a class="navbar-brand" href="{{ url_for('page1') }}">CONF</a>
            <a class="navbar-brand" href="{{ url_for('page2') }}">ENV</a>
            <a class="navbar-brand" href="{{ url_for('form') }}">simpleFORM</a>
            <a class="navbar-brand" href="{{ url_for('advancedForm') }}">_csrfFORM</a>
            <a class="navbar-brand" href="{{ url_for('db') }}">DB_test</a>
        </div>
    </nav>
    
{% endblock %}


{% block content %}
    <div class="container">
        {% block page_content %}HELLO, THERE{% endblock %}
    </div>
{% endblock content %}
