{% extends 'bootstrap/base.html' %}

{% block title %}FLaskINIT {% endblock %}

{% block navbar %}
    MODULE _FLASK_INIT_
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('page1') }}">CONF</a>
            <a class="navbar-brand" href="{{ url_for('page2') }}">ENV</a>
            <a class="navbar-brand" href="{{ url_for('form') }}">simpleFORM</a>
            <a class="navbar-brand" href="{{ url_for('advancedForm') }}">_csrfFORM</a>
            <a class="navbar-brand" href="{{ url_for('db') }}">DB_test</a>
            <a class="navbar-brand" href="{{ url_for('protected') }}">protected</a>
             <ul class="nav navbar-nav navbar-right">
                <li><a class="navbar-brand" href="{{ url_for('register_templ') }}">Register</a></li>
                <li>{% if current_user.is_authenticated %}
                    <a href="{{ url_for('logout_templ') }}">Logout</a>
                {% else %}
                        <a href="{{ url_for('login_templ') }}">Login</a>
                {% endif %}</li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% block page_content %}
            <h1>Home page</h1>
            <p>This page can be viewed by all users.</p>
            <p>You are {% if not current_user.is_authenticated %}not {% endif %}logged in as
                <b>{{ current_user.first_name }}</b>.</p>
        {% endblock %}
    </div>
{% endblock content %}
