{% extends 'bootstrap/base.html' %}

{% block title %}FLaskINIT {% endblock %}

{% block navbar %}
    MODULE _FLASK_INIT_
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">home</a>
            <a class="navbar-brand" href="{{ url_for('page1') }}">page1</a>
            <a class="navbar-brand" href="{{ url_for('page2') }}">page2</a>
            <a class="navbar-brand" href="{{ url_for('form') }}">simpleFORM</a>
            <a class="navbar-brand" href="{{ url_for('advancedForm') }}">advFORM</a>
            <a class="navbar-brand" href="{{ url_for('db') }}">INIT_DB</a>
        </div>
    </nav>
    
{% endblock %}


{% block content %}
    <div class="container">
        {% block page_content %}{% endblock %}
    </div>
{% endblock content %}
