<script src="/js/libs/jquery.swipebox.min.js"></script>
<link rel="stylesheet" href="/css/swipebox.min.css">

<div class="flex-item-5 flex-container flex-column problemBlock">
  <i class="fa fa-times fa-2x close" ng-click="close()"></i>
  <h3 class="detailedTitle show_problem">{{selectProblem.title}}</h3>
  <div class="general">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="rate">
          <uib-rating max="5" ng-model="selectProblem.severity" readonly="true" state-on="'fa fa-star'" state-off="'fa fa-star-o'"></uib-rating>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-md-4 col-xs-6 clearfix">
        <div class="solution unsolved hidden-xs hidden-sm" >
          <strong><span ng-bind="getStatus(selectProblem.status)" ng-class="{ 'solved': 'selectProblem.status' == 'solved'}"></span></strong>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" ng-hide='hideIconSubsc'>
        <div class='eye_subscription hidden-xs hidden-sm'>
          <span ng-class="cls_eye_subs" ng-click="chgEyeSubsc()"></span>
        </div>
      </div>
    </div>
    <div class="row hidden-md hidden-lg">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 clearfix">
        <div class="solution unsolved forSmall pull-left" >
          <strong><span ng-bind="getStatus(selectProblem.status)" ng-class="{ 'solved': 'selectProblem.status' == 'solved' }"></span></strong>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" ng-hide='hideIconSubsc'>
        <div class='eye_subscription forSmall pull-right'>
          <span ng-class="cls_eye_subs" ng-click="chgEyeSubsc()"></span>
        </div>
      </div>
    </div>
  </div>
  <uib-tabset justified="true" class="col-xs-12 col-sm-12 tabs">
    <uib-tab heading="Детально">
      <div class="row problem-type">
        <div class="col-md-12"><strong>Тип проблеми:</strong></div>
        <div class="col-md-12 ">{{selectProblem.name}}</div>
      </div>
      <div class="row description">
        <div class="col-md-12"><strong>Опис проблеми:</strong></div>
        <div class="col-md-12 ">{{selectProblem.content}}</div>
      </div>
      <div class="row proposal">
        <div class="col-md-12"><strong>Пропозиція шодо вирішення:</strong></div>
        <div class="col-md-12 ">{{selectProblem.proposal}}</div>
      </div>
      <div class="row photos">
        <div class="col-md-12"><strong>Фото:</strong></div>     
        <a href="{{photo.url}}" class="swipebox" title="{{selectProblem.title}}"
           ng-repeat="photo in photos">
          <img src="{{getMinPhoto(photo.url)}}" 
               alt="{{photo.description}}" 
               height="100" width="100"
               class="img-responsive"/>
        </a>
      </div>
    </uib-tab>
    <uib-tab heading="Коментарі">
      <div class="row" ng-class="styleInput">
        <form name="newComment" ng-submit="post_comment(comment)"
              class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="showInputForm" ng-class="{ 'has-error': newComment.comment.$invalid}">
          <textarea ng-model="comment.text" class="comment-input" ng-class="{'form-control': focused}" name='comment' placeholder='Ваш коментар' rows='4' cols='80' type="text" ng-maxlength="255" ng-init="focused = false" ng-focus="focused = true" ng-blur="focused = false" ng-disabled="editMode" required></textarea>
          <div class="checkbox pull-right">
            <label class="changeUser" ng-show="showInputForm">
              <input type="checkbox" 
                     ng-model="comment.changeUser" 
                     ng-true-value="true" 
                     ng-false-value="false"/>Анонімно
            </label>
          </div>
          <input class='btn btn-success' type='submit' value='Додати коментар'/>
        </form>
      </div>
      <div ng-repeat='comment in comments'>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading clearfix">
                <strong class="pull-left">{{comment.name}}</strong>
                <span class="text-muted pull-right" ng-hide="comment.updated_date">{{comment.created_date | date : "dd/MM/yyyy HH:mm "}}</span>
                <span class="text-muted pull-right" ng-show="comment.updated_date">Редаговано · {{comment.updated_date | date : "dd/MM/yyyy HH:mm "}}</span>
              </div>
              <div class="panel-body comment-block" ng-show="!editMode || editCommentid != comment.id" ng-bind="comment.content">{{comment.content}}</div>
              <div class="clearfix comment-reply" ng-show="!editMode || editCommentid != comment.id">
                <div class="pull-left">
                  <a role="button" ng-click="getSubComments(comment.id)" ng-show="showInputForm">відповісти</a>
                  <span role="button" ng-show="comment.user_id == user_id && !editMode" class="fa fa-pencil comment-update" data-toggle="tooltip" data-placement="top" title="Редагувати" ng-click="showCommentInput(comment)" tooltip></span>
                </div>
                <div class="pull-right">
                  <a role="button" ng-click="getSubComments(comment.id)" ng-show="comment.sub_count"><i class="fa fa-share"></i> {{comment.sub_count | answerFilter}}</a>
                </div> 
              </div>

              <div ng-form name="editComment" ng-show="editMode && editCommentid == comment.id" ng-class="{ 'has-error': editComment.newcomment.$invalid}">
                <textarea name="newcomment" ng-class="{'form-control': editMode}" type="text" ng-model="comment.content" ng-maxlength="255" value="{{comment.content}}" ng-enter="changeComment(comment)" class="comment-input" ng-esc="cancelComment(comment)" required></textarea>
              </div>
              <div class="clearfix comment-reply cancel-comment" ng-show="editMode && editCommentid == comment.id">
                <span>Натисніть ESC, щоб </span>
                <a role="button" class="editComment" ng-click="cancelComment(comment)">скасувати.</a>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="comment.id===subcomment_parent" ng-show="showSubComments">  
          <div ng-repeat='subcomment in subcomments' class="row">
              <div class="col-lg-offset-3 col-lg-9 col-md-offset-3 col-md-9 col-sm-offset-3 col-sm-9 col-xs-offset-3 col-xs-9">
                <div class="panel panel-default">
                  <div class="panel-heading clearfix">
                    <strong class="pull-left">{{subcomment.nickname}}</strong> 
                  </div>
                   <div class="clearfix comment-reply subcomment-reply" ng-show="!editMode || editCommentid != subcomment.id">
                    <div class="pull-left">
                      <span role="button" ng-show="subcomment.user_id == user_id && !editMode" class="fa fa-pencil comment-update" data-toggle="tooltip" data-placement="left" title="Редагувати" ng-click="showCommentInput(subcomment)" tooltip></span>
                    </div>
                  </div>
                  <div class="panel-body comment-block" ng-show="!editMode || editCommentid != subcomment.id" ng-bind="subcomment.content">
                    {{subcomment.content}}
                  </div>
                  <div ng-hide="editMode && editCommentid == subcomment.id">
                    <div class="clearfix comment-reply cancel-comment" ng-show="subcomment.updated_date">
                      <span>Редаговано · {{subcomment.updated_date | date : "dd/MM/yyyy HH:mm "}}</span>
                    </div>
                    <div class="clearfix comment-reply cancel-comment" ng-show="!subcomment.updated_date">
                      <span>{{subcomment.created_date | date : "dd/MM/yyyy HH:mm "}}</span>
                    </div>
                  </div>

                  <div ng-form name="changeSubcomment" ng-show="editMode && editCommentid == subcomment.id" ng-class="{ 'has-error': changeSubcomment.newsubcomment.$invalid}">
                    <textarea name="newsubcomment" ng-class="{'form-control': editMode}" type="text" ng-model="subcomment.content" ng-maxlength="255" value="{{subcomment.content}}" ng-enter="changeComment(subcomment)" class="comment-input" ng-esc="cancelComment(subcomment)" style="margin:0px auto;" required></textarea>
                  </div>
                  <div class="clearfix comment-reply cancel-comment" ng-show="editMode && editCommentid == subcomment.id">
                    <span>Натисніть ESC, щоб </span>
                    <a role="button" class="editComment" ng-click="cancelComment(subcomment)">скасувати.</a>
                  </div>
                </div>
              </div>  
          </div>
          <div class="row" ng-hide="editMode || 
          !showInputForm">
          <form name="addSubcomment" ng-class="{ 'has-error': addSubcomment.subcomment.$invalid || hasError }" class="col-lg-9 col-md-9 col-sm-9 col-xs-9 subcomment-form" ng-submit="post_subcomment(subcomment, comment)">
            <textarea class="comment-input" name='subcomment' ng-model="subcomment.text" placeholder='Ваша відповідь' rows='2' cols='38' ng-class="{'form-control': focused}" ng-maxlength="255" type="text" ng-maxlength="255" ng-init="focused = false" ng-focus="focused = true" ng-blur="focused = false" required></textarea>
            <div class="subcomment checkbox">
            <label class="changeUser">
              <input type="checkbox" 
                     ng-model="comment.changeUser" 
                     ng-true-value="true" 
                     ng-false-value="false">Анонімно
            </label>
            </div>
            <input class='btn btn-success col-xs-9' type='submit' value='Додати відповідь'>
          </form>
          </div>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>
</div>

<script type="text/javascript">
  ;(function($){
    $('.swipebox').swipebox();
  })(jQuery);
</script>
