<div class="container">
  <div class="row">
    <h3>Редагування інструкції</h3>
    <hr>

    <form name="editPageForm" ng-submit="editPage(page)" class="page-edit-form" novalidate>
      <div class="form-group" ng-class="{ 'has-error': editPageForm.title.$touched && editPageForm.title.$invalid }">
        <label for="title" class="control-label">Заголовок інструкції</label>
        <input type="text" class="form-control" name="title" id="title" ng-model="page.title" ng-max-length="255" required>
        <div class="help-block" ng-messages="editPageForm.title.$error" ng-show="editPageForm.title.$touched">
          <div ng-messages-include="/templates/error_msgs.html"></div>
        </div>
      </div>
      
      <div class="form-group" ng-class="{ 'has-error': editPageForm.alias.$touched && editPageForm.alias.$invalid }">
        <label for="alias" class="control-label">Назва інструкції в адресній стрічці</label>
        <input type="text" class="form-control" name="alias" id="alias" ng-model="page.alias" ng-max-length="100" required>
        <div class="help-block" ng-messages="editPageForm.alias.$error" ng-show="editPageForm.alias.$touched">
          <div ng-messages-include="/templates/error_msgs.html"></div>
        </div>
      </div>

      <div class="form-group">
        <label for="description" class="control-label">Короткий опис інструкції</label>
        <textarea name="description" name="description" id="description" cols="30" rows="4" class="form-control" ng-model="page.description"></textarea>
      </div>

      <div class="form-group" ng-class="{ 'has-error': editPageForm.content.$touched && editPageForm.content.$invalid }">
        <label for="content" class="control-label">Контент інструкції</label>
        <text-angular ng-model="page.content"></text-angular>
        <div class="help-block" ng-messages="editPageForm.content.$error" ng-show="editPageForm.content.$touched">
          <div ng-messages-include="/templates/error_msgs.html"></div>
        </div>
      </div>

      <div class="form-group" ng-class="{ 'has-error': editPageForm.meta_keywords.$touched && editPageForm.meta_keywords.$invalid }">
        <label for="meta_keywords" class="control-label">Кілька слів, які описують суть інстуркції</label>
        <input type="text" class="form-control" name="meta_keywords" id="meta_keywords" ng-max-length="255" ng-model="page.meta_keywords">
        <div class="help-block" ng-messages="editPageForm.meta_keywords.$error" ng-show="editPageForm.meta_keywords.$touched">
          <div ng-messages-include="/templates/error_msgs.html"></div>
        </div>
      </div>

      <div class="form-group" ng-class="{ 'has-error': editPageForm.meta_decription.$touched && editPageForm.meta_decription.$invalid }">
        <label for="meta_description" class="control-label">Мета опис інструкції</label>
        <input type="text" class="form-control" name="meta_decription" id="meta_description" ng-max-length="255" ng-model="page.meta_description">
        <div class="help-block" ng-messages="editPageForm.meta_decription.$error" ng-show="editPageForm.meta_decription.$touched">
          <div ng-messages-include="/templates/error_msgs.html"></div>
        </div>
      </div>
      <button class="btn btn-primary fl-right" type="submit">Редагувати сторінку</button>
      <div class="clear"></div>
    </form>

  </div>
</div>
