<div class="container">
  <div class="row">
    <h3>Редагування проблеми</h3>
    <hr>

    <form name="editPageForm" ng-submit="editPage(page)" class="page-edit-form" novalidate>
      <label for="title" class="control-label">Заголовок проблеми</label>
      <input type="text" class="form-control" name="title" id="title" ng-model="newProblem.title" ng-maxlength="255" ng-minlength="2" required>
      <div class="help-block" ng-messages="addProblemForm.title.$error" ng-show="addProblemForm.title.$touched || submitted">
        <div ng-messages-include="/templates/error_msgs.html"></div>
      </div>
    
      <div class="form-group" ng-class="{ 'has-error': (addProblemForm.problem_type_id.$touched || submitted) && addProblemForm.problem_type_id.$invalid}">
        <div class="dropdown">
          <div class="select-wrapper">
            <label for="problem_type_id" class="control-label">Тип проблеми</label>
            <div class="selected-item-box" id="problem_type_id">
              <span class="dropdown-icon"></span>
              <ul class="items-list">
                <li>
                    <img ng-src="{{chosen.picture}}"/> {{chosen.name}}
                </li>
              </ul>
            </div>
            <div class="list" >
              <ul class="items-list">
                <li ng-repeat="type in problemTypes" class="problemTypeItem" ng-click="newProblem.type=type.id; select(type.id)">
                  <img ng-src="{{type.picture}}" title="{{type.name}}" alt="{{type.name}}" />
                    <span>{{type.name}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="help-block" ng-messages="addProblemForm.problem_type_id.$error" ng-show="true">
          <div ng-messages-include="/templates/error_msgs.html"></div>
        </div>
      </div>
      <div class="form-group " ng-class="{ 'has-error': (addProblemForm.content.$touched || submitted) && addProblemForm.content.$invalid}">
        <label for="problemContent" class="control-label">Опис проблеми</label>
        <textarea name="content"  id="problemContent" cols="30" rows="5" class="form-control"
        ng-maxlength="255" ng-minlength="2"
        ng-model="newProblem.content" required></textarea>
        <div class="help-block" ng-messages="addProblemForm.content.$error" ng-show="addProblemForm.content.$touched || submitted">
          <div ng-messages-include="/templates/error_msgs.html"></div>
        </div>
      </div>
      <div class="form-group " ng-class="{ 'has-error': (addProblemForm.proposal.$touched || submitted) && addProblemForm.proposal.$invalid}">
        <label for="proposal" class="control-label">Пропозиції щодо вирішення</label>
        <textarea name="proposal"  id="proposal" cols="30" rows="5"  ng-maxlength="255" ng-minlength="2" class="form-control" ng-model="newProblem.proposal" required></textarea>
        <div class="help-block" ng-messages="addProblemForm.proposal.$error" ng-show="addProblemForm.proposal.$touched || submitted">
          <div ng-messages-include="/templates/error_msgs.html"></div>
        </div>
      </div>
      <div class="btn btn-info photo-btn add" ngf-select="" name="file" ng-model="photos"
        ngf-pattern="'image/*'" accept="image/*"
        ngf-max-size="5MB" ngf-keep="'distinct'"
        ngf-resize="{quality: .8, type: 'image/png', centerCrop: true}"
        ngf-multiple="true" ngf-capture="'camera'"
        ngf-change="check(uploadProblemPhoto)"><i class="fa fa-plus"></i> Додати фото</div>
      <div ng-show="photos.length==0">оберіть одне або декілька зображень. максимальний розмір 5мб</div>
      <div ng-show="validationStatus">{{ arrayValidation.len }}</div>
      <div class="thumbs"
        ngf-drop="" name="file" ng-model="photos"
        ngf-pattern="'image/*'" accept="image/*"
        ngf-max-size="5MB" ngf-keep="'distinct'"
        ngf-resize="{width: 100, height: 100, quality: .8, type: 'image/png', ratio: '1:1', centerCrop: true}"
        ngf-multiple="true"
        ngf-change="check(uploadProblemPhoto)">
        <div ng-repeat="f in photos" class="thumb-box">
          <div class="thumb">
            <img ngf-thumbnail="f">
            <span class="text-content" ng-click="removePhoto(f, photos)">
            <span>видалити</span>
            </span>
          </div>
          <textarea ng-model="f.description" cols="15" rows="3" name="description"
          value="f.description" placeholder="Додати опис до фотографії"
          class="thumb-descr">
          </textarea>
        </div>
      </div>
      <div ng-hide='showSeverityForUser'>        
        <form>
          <label for="problem_type_id" class="control-label">Важливість</label>
          <select required> 
            <option ng-repeat='severity in severities' value="{{severity}}">{{severity}}</option>
          </select>           
        </form>  
        <form>
          <label for="problem_type_id" class="control-label">Статус</label>
          <select required> 
            <option ng-repeat='status in statuses' value="{{status}}">{{status}}</option>
          </select>           
        </form>
      </div>
      <button class="btn btn-primary fl-right" type="submit">Редагувати сторінку</button>
      <div class="clear"></div>
    </form>
  </div>
</div>
