<!DOCTYPE html>
<html lang="en" ng-app="app" >
  <head>
    <title>ecomap</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
    <link rel="stylesheet" href="/css/toaster.min.css">
    <link rel="stylesheet" href="/css/textAngular.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link href="https://rawgit.com/alexk111/ngImgCrop/master/compile/unminified/ng-img-crop.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
    <link rel="stylesheet" type="text/css" href="/css/image_crop.css">

    <!-- Non-angularJS scripts -->
    <script src="/js/libs/jquery.min.js"></script>
    <script src="/js/libs/bootstrap.min.js"></script>

    <!-- AngularJS modules -->
    <script src="/js/libs/angular.min.js"></script>
    <script src="/js/libs/ui-bootstrap-tpls.min.js"></script>
    <script src="/js/libs/angular-cookies.min.js" type="text/javascript"></script>
    <script src="/js/libs/angular-messages.min.js"></script>
    <script src="/js/libs/angular-animate.min.js"></script>
    <script src="/js/libs/angular-ui-router.min.js"></script>
    <script src="/js/libs/satellizer.min.js"></script>
    <script src="/js/libs/toaster.min.js"></script>
    <script src="/js/libs/textAngular-rangy.min.js"></script>
    <script src="/js/libs/textAngular-sanitize.min.js"></script>
    <script src="/js/libs/textAngular.min.js"></script>

    <script src="https://angular-file-upload.appspot.com/js/ng-file-upload-shim.js"></script>
    <script src="https://angular-file-upload.appspot.com/js/ng-file-upload.js"></script>
    <script src="https://rawgit.com/alexk111/ngImgCrop/master/compile/unminified/ng-img-crop.js"></script>

    <!-- AngularJS app -->
    <script src="/js/angular_app.js"></script>
    <script src="/js/appConfigs.js"></script>

    <!-- AngularJS Ctrls -->
    <script src="/js/controllers/MainCtrl.js"></script>
    <script src="/js/controllers/UserProfileCtrl.js"></script>
    <script src="/js/controllers/MapCtrl.js"></script>
    <script src="/js/controllers/AdminCtrl.js"></script>
    <script src='/js/controllers/LoginCtrl.js'></script>
    <script src='/js/controllers/RegisterCtrl.js'></script>
    <script src="/js/controllers/LogoutCtrl.js"></script>
    <script src="/js/controllers/DetailedFaqCtrl.js"></script>
    <script src="/js/controllers/FaqTableCtrl.js"></script>
    <script src="/js/controllers/AddFaqCtrl.js"></script>
    <script src='/js/controllers/EditFaqCtrl.js'></script>

    <!-- AngularJS directives -->
    <script src="/js/directives/ModalWindow.js"></script>
    <script src="/js/directives/ValidatorsDirective.js"></script>

  </head>
  <body ng-controller="MainCtrl">
    <div class="wrapper">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type = "button" class = "navbar-toggle"
            data-toggle = "collapse" data-target = "#navMenu">
            <span class = "sr-only">Toggle navigation</span>
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#/map"><img src="/image/logo.png" ></a>
          </div>
          <div class="navbar-collapse collapse" id="navMenu">
            <ul class="nav navbar-nav">
              <li id="inform_probl_btn"><a href="#">повідомити про проблему</a></li>
              <li class="dropdown" >
                <a class="dropdown-toggle"  data-toggle="dropdown" ng-show="faqTitles">ресурси <span class="caret"></span></a>
                <ul class="dropdown-menu" >
                  <li ng-show="faqObj.is_enabled" ng-repeat="faqObj in faqTitles">
                    <a href="/#/faq/{{faqObj.alias|angular}}" ng-bind="faqObj.title"></a>
                  </li>
                </ul>
              </li>
              <li><a href="#">статистика</a></li>
              <li><a href="">термінове повідомлення</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li id="loginField" ng-if="!isAuthenticated()">
                <a href="/#/login">Увійти</a>
              </li>
              <li ng-if="isAuthenticated()">
                <a href="/#/user_profile" ng-bind="getUsername()" ></a>
              </li>
              <li ng-if="isAuthenticated()" ng-controller="LogoutCtrl">
                <a href="" ng-click="Logout()">Вихід</a>
              </li>
              <li ng-if="!isAuthenticated()">
                <a href="/#/register">Реєстрація</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <toaster-container></toaster-container>
      <div ui-view class="map-div"></div>

    </div>
    <script>
      $(window).load(function() {
        $(".loader").fadeOut("slow");
      }); 
    </script>
  </body>
</html>