<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <title>ecomap</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!--<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></script>-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-route.min.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-cookies.js" type="text/javascript"></script>
  <!--<script src="/js/app.js"></script>-->
  <script src="/js/validator.min.js"></script>
  <script src="/js/angular_app.js"></script>
  <!--<script src="/js/script.js"></script> -->
  <!--<script src="/js/controllers.js"></script> -->
   <link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>
<body >

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="/image/logo.png"></a>
    </div>
    <div class="collapse navbar-collapse" >
      <ul class="nav navbar-nav">
        <li id="inform_probl_btn"><a href="#">повідомити про проблему</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle"  data-toggle="dropdown" href="#">ресурси <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">first</a></li>
            <li><a href="#">second</a></li>
            <li><a href="#">third</a></li>
          </ul>
        </li>
        <li><a href="#">статистика</a></li>
        <li><a href="">термінове повідомлення</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right" ng-controller="LoginCtrl">
        <li id="loginField" ng-hide="checkLogined()">
          <a href="" ng-click="toggleLoginModal()" >Увійти</a>

          <modal title="Увійти" visible="showLoginModal">
            <form role="form" ng-submit="Login()" data-toggle="validator">
              <div class="form-group has-feedback">
                <label for="email" class="control-label">Електронна адреса</label>
                <input type="email"  ng-model="user.email" class="form-control" id="email" placeholder="Електронна адреса" data-error="Невірно введена електронна пошта!" required/>
                <div class="help-block with-errors"></div>
              </div>
              <div class="form-group">
                <label for="password" class="control-label">Пароль</label>
                <input type="password" ng-model="user.password" class="form-control" id="password" placeholder="Пароль" data-error="Необхідно ввести пароль!" required/>
                <div class="help-block with-errors"></div>
              </div>
              <br>
              <button type="submit" class="btn btn-primary">Увійти</button>
            </form>
          </modal>
        </li>

        <li ng-show="checkLogined()">
          <a href="" ng-bind="checkLogined()" ></a>
        </li>

        <li ng-show="checkLogined()">
          <a href="" ng-click="Logout()">Вихід</a>
        </li>

        <li ng-hide="checkLogined()">
          <a href="" ng-click="toggleRegisterModal()">Реєстрація</a>

          <modal title="Реєстрація" visible="showRegisterModal">
            <form role="form" ng-submit="Register()" data-toggle="validator">
              <div class="form-group has-feedback" id="emailDiv">
                <label for="email" class="control-label">Електронна адреса</label>
                <input type="email"  ng-model="newUser.email" ng-change="checkIfExists()" class="form-control" id="email" placeholder="Електронна адреса" data-error="Невірно введена електронна пошта!" required/>
                <div class="help-block with-errors"></div>   
                <div class="help-block with-errors hidden" id="existError">Користувач із такоє електронною поштою вже існує!</div>   

              </div>
              <div class="form-group has-feedback">
                <label for="name" class="control-label">Ім'я</label>
                <input type="text"  ng-model="newUser.firstName" class="form-control" id="name" placeholder="Ім'я" data-error="Необхідно ввести ім'я!" required/>
                <div class="help-block with-errors"></div> 
              </div>
              <div class="form-group has-feedback">
                <label for="surname" class="control-label">Прізвище</label>
                <input type="text"  ng-model="newUser.lastName" class="form-control" id="surname" placeholder="Прізвище" data-error="Необхідно ввести прізвище!" required/>
                <div class="help-block with-errors"></div>                
              </div>
              <div class="form-group">
                <label for="password" class="control-label">Пароль</label>
                <div class="form-group has-feedback">
                  <input type="password" ng-model="newUser.password" class="form-control" id="password" placeholder="Пароль" data-minlength="6" required/>
                  <div class="help-block">Як мінімум 6 символів</div> 
                </div>
                <div class="form-group has-feedback">
                  <input type="password" ng-model="newUser.pass_confirm" class="form-control" id="pass_confirm" placeholder="Підтвердіть пароль" data-match-error="#password" data-match-error="Паролі не співпадають!" data-error="Введіть підтвердження пароля!" required/>
                  <div class="help-block with-errors"></div>                
                </div>
                
              </div>
              <br>
              <button type="submit" class="btn btn-primary">Зареєструвати</button>
            </form>
          </modal>
        </li>

<!--       <ul class="nav navbar-nav navbar-right" ng-hide='userObj.first_name'>
        <li>
          <a href="#" >
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> <span ng-hide='userObj.first_name'>Вхід</span><span class="caret"></span>
            </a>
          </a>
          <ul class="dropdown-menu" showform="True">
            <li id="user_form">
              <form ng-submit="singinUser()" ng-controller="UserController" name="singInform">
                <div class="form-group">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email" ng-model="user.email" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="user.password" required name="password">
                </div>
                <div class="sing_in_buttons_block">
                <button type="submit" class="sing_in_button" id="sing_in" ng-disabled="singInform.email.$dirty && singInform.email.$invalid || singInform.password.$dirty && singInform.password.$invalid">Вхід</button>
                <input type="button" value="Sing in" class="sing_in_button" id="registration">
                </div>
              </form>
            </li>
          </ul>

         </li>
 -->
      </ul>
<!--       <ul class="nav navbar-nav navbar-right" ng-show='userObj.first_name'>
          <li>
          <a href="#" >
           <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> <span>Hi, {{userObj.first_name|angular}} </span><span class="caret"></span>
            </a>
          </a>
          <ul class="dropdown-menu" showform="True">
            <li id="log_out"> 

              <form   ng-submit="logOut()" ng-controller="logOutUser">
                  <button type="submit" class="btn btn-danger btn-lg">Log out</button>

              </form>
            </li>
          </ul>

         </li>
      </ul> -->
    </div>
  </div>
</nav> 

<div class="row">
  <div class="col-md-3" id="filter" class="problem_filter" showform="True">
  <div ng-controller="DatepickerDemoCtrl">

    <h4>ФІЛЬТРАЦІЯ ЗА ДАТОЮ</h4>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="status.opened1" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>

        <div class="col-md-10 col-md-offset-1">
            <p class="input-group">
              <input type="date" class="form-control" uib-datepicker-popup ng-model="dt" is-open="status.opened2" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open2($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>


    </div>

</div>
    <div class="toogle" id="toggle">фільтрація</div>
    <h4>Тип проблеми</h4>
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item">First item</li>
        <li class="list-group-item">Second item</li>
        <li class="list-group-item">Third item</li>
      </ul>
    </div>
    <div class="col-md-12">
    <h4>Статус проблеми</h4>
      <ul class="list-group">
        <li class="list-group-item">First item</li>
        <li class="list-group-item">Second item</li>
        <li class="list-group-item">Third item</li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-6 inform_probl_block" showform="True">
  <h2>Повідомити про проблему</h2>

    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#">Точка</a></li>
        <li><a href="#">Опис</a></li>
        <li><a href="#">Фото</a></li>
    </ul>

  </div>
</div>

<!-- <div class="container-fluid" showform="True">
  <div class="row">
    <div class="col-md-6 col-md-offset-4" >
    <div class="registr_block" ng-hide="userObj.first_name" id="login">
    <h1>Registration</h1>
    <form ng-submit="singupUser()" ng-controller="RegistrCtrl" name="singUpForm">
      <input type="text" placeholder="First name" ng-model="newUser.first_name"   name="first_name" required/>
      <span class="warning" ng-show="singUpForm.first_name.$dirty && singUpForm.first_name.$invalid">
      <span ng-show="singUpForm.first_name.$error.required">firt name is required.</span>
      </span>
      <input type="text" placeholder="Last name" ng-model="newUser.last_name" name="lastName" required/>
      <span class="warning" ng-show="singUpForm.last_Name.$dirty && singUpForm.lastName.$invalid">
      <span ng-show="singUpForm.lastName.$error.required">last name is required.</span>
      </span>
      <input type="email" placeholder="Email" ng-model="newUser.email" required/>
      <span class="warning" ng-show="singUpForm.email.$dirty && singUpForm.email.$invalid">
      <span ng-show="singUpForm.email.$error.required">email is required.</span>
      <span ng-show="singUpForm.email.$error.email">invalid email address.</span>
      </span>
      <input  type="password" placeholder="Password" ng-model="newUser.password" name="email" required/>
      <input type="password" placeholder="Confirm password" ng-model="confPassword" required/>
      <span class="warning" ng-show="confPassword != newUser.password">
      passords don`t match
      </span>
      <input type="submit" value="Sing up"  class="registr_btn" ng-disabled="confPassword != newUser.password || singUpForm.first_name.$dirty && singUpForm.first_name.$invalid || singUpForm.lastName.$dirty && singUpForm.lastName.$invalid || singUpForm.email.$dirty && singUpForm.email.$invalid" />
    </form>
    </div>
    </div>
  </div>
</div> -->

<div class="message" id="message">
  <h2 id="message_head">Example</h2>
  <p id="message_text">Example text</p>
  <button class="okay">Okay</button>
</div>

</body>
</html>
