<!DOCTYPE html>
<html lang="en" ng-app="app" >
<head>
  <title>ecomap</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Styles -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/custom.css">
  <link rel="stylesheet" href="/css/toaster.min.css">
  <link rel="stylesheet" href="/css/textAngular.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">

  <!-- Non-angularJS scripts -->
  <script src="/js/libs/jquery.min.js"></script>
  <script src="/js/libs/bootstrap.min.js"></script>

  <!-- AngularJS modules -->
  <script src="/js/libs/angular.min.js"></script>
  <script src="/js/libs/ui-bootstrap-tpls.min.js"></script>
  <script src="/js/libs/angular-cookies.min.js" type="text/javascript"></script>
  <script src="/js/libs/angular-messages.min.js"></script>
  <script src="/js/libs/angular-animate.min.js"></script>
  <script src="/js/libs/angular-ui-router.min.js"></script>
  <script src="/js/libs/satellizer.min.js"></script>
  <script src="/js/libs/toaster.min.js"></script>
  <script src="/js/libs/textAngular-rangy.min.js"></script>
  <script src="/js/libs/textAngular-sanitize.min.js"></script>
  <script src="/js/libs/textAngular.min.js"></script>

  <!-- AngularJS app -->
  <script src="/js/angular_app.js"></script>
  <script src="/js/appConfigs.js"></script>

  <!-- AngularJS Ctrls -->
  <script src="/js/controllers/MainCtrl.js"></script>
  <script src="/js/controllers/UserProfileCtrl.js"></script>
  <script src="/js/controllers/MapCtrl.js"></script>
  <script src="/js/controllers/AdminCtrl.js"></script>
  <script src='/js/controllers/LoginCtrl.js'></script>
  <script src='/js/controllers/RegisterCtrl.js'></script>
  <script src="/js/controllers/LogoutCtrl.js"></script>
  <script src="/js/controllers/DetailedFaqCtrl.js"></script>
  <script src="/js/controllers/FaqTableCtrl.js"></script>
  <script src="/js/controllers/AddFaqCtrl.js"></script>
  <script src='/js/controllers/EditFaqCtrl.js'></script>


  <!-- AngularJS directives -->
  <script src="/js/directives/ModalWindow.js"></script>
  <script src="/js/directives/ValidatorsDirective.js"></script>

</head>
<body ng-controller="MainCtrl">
  <div id="fb-root"></div>
<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '{your-app-id}',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }
</script>
  <div class="wrapper">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
            <button type = "button" class = "navbar-toggle" 
             data-toggle = "collapse" data-target = "#navMenu">
             <span class = "sr-only">Toggle navigation</span>
             <span class = "icon-bar"></span>
             <span class = "icon-bar"></span>
             <span class = "icon-bar"></span>
          </button>

          <a class="navbar-brand" href="/#/map"><img src="/image/logo.png" ></a>
        </div>
        <div class="navbar-collapse collapse" id="navMenu">
          <ul class="nav navbar-nav">
            <li id="inform_probl_btn"><a href="#">повідомити про проблему</a></li>
            <li class="dropdown" >
              <a class="dropdown-toggle"  data-toggle="dropdown" ng-show="faqTitles">ресурси <span class="caret"></span></a>
              <ul class="dropdown-menu" >
                <li ng-show="faqObj.is_enabled" ng-repeat="faqObj in faqTitles">
                  <a href="/#/faq/{{faqObj.alias|angular}}" ng-bind="faqObj.title"></a>
                </li>
              </ul>
            </li>
            <li><a href="#">статистика</a></li>
            <li><a href="">термінове повідомлення</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li id="loginField" ng-if="!isAuthenticated()">
              <a href="/#/login">Увійти</a>
            </li>

            <li ng-if="isAuthenticated()">
              <a href="/#/user_profile" ng-bind="getUsername()" ></a>
            </li>

            <li ng-if="isAuthenticated()" ng-controller="LogoutCtrl">
              <a href="" ng-click="Logout()">Вихід</a>
            </li>

            <li ng-if="!isAuthenticated()">
              <a href="/#/register">Реєстрація</a>
            </li>
          </ul>
        </div>
      </div>
    </nav> 
    <toaster-container></toaster-container>
    <div ui-view class="map-div"></div>
    
  </div>
</body>
</html>
