<div class="map-container" >
    <ui-gmap-google-map center='getMapParams().center' zoom='getMapParams().zoom' id="map" >
        <ui-gmap-markers models='markers' idkey="'problem_id'" coords="'self'"
                         click="zoomMarker" doCluster="true" 
                         icon="'iconUrl'"></ui-gmap-markers>
        </ui-gmap-markers>
        <ui-gmap-polygon static="true" ng-repeat="p in polygons track by p.id" path="p.path" stroke="p.stroke" visible="p.visible"
                 geodesic="p.geodesic" fill="p.fill" fit="false" editable="p.editable" draggable="p.draggable"></ui-gmap-polygon>
    
    </ui-gmap-google-map>
</div>
