{% extends 'base.html' %}
{% block page_content %}
    <h1>FLASK DEFAULT CONFIG</h1>
<hr>
{% if conf %}
    <table border="collapse 1px black" >
        <tr bgcolor="#c6ccff">
            <th>conf_key</th>
            <th>value</th>
        </tr>
        {% for key in conf %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ conf[key] }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
<h2>there are no config yet on this server</h2>
{% endif %}
{% endblock page_content %}