<!DOCTYPE html>
<html lang="en" ng-app="app" >
  <head>
    <title>Відновлення паролю</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/icon" href="http://ecomap.org/images/icons/favicon.ico">

    <!-- Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
    <link rel="stylesheet" href="/css/toaster.min.css">
    <link rel="stylesheet" href="/css/textAngular.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/angular-resizable.css">
    <link rel="stylesheet" href="/css/resize-test.css">
    <link href="https://rawgit.com/alexk111/ngImgCrop/master/compile/unminified/ng-img-crop.css">
    <link rel="stylesheet" type="text/css" href="/css/image_crop.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Non-angularJS scripts -->
    <script src="/js/libs/jquery.min.js"></script>
    <script src="/js/libs/bootstrap.min.js"></script>
    <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9-Wwj3Nk7crgNakQ424rCJCykh0YZYfs&libraries=geometry">
    </script>

    <!-- AngularJS modules -->
    <script src="/js/libs/angular.min.js"></script>
    <script src="/js/libs/ui-bootstrap-tpls.min.js"></script>
    <script src="/js/libs/angular-cookies.min.js" type="text/javascript"></script>
    <script src="/js/libs/angular-messages.min.js"></script>
    <script src="/js/libs/angular-animate.min.js"></script>
    <script src="/js/libs/angular-ui-router.min.js"></script>
    <script src="/js/libs/satellizer.min.js"></script>
    <script src="/js/libs/toaster.min.js"></script>
    <script src="/js/libs/textAngular-rangy.min.js"></script>
    <script src="/js/libs/textAngular-sanitize.min.js"></script>
    <script src="/js/libs/textAngular.min.js"></script>
    <script src="/js/libs/angular-google-maps.min.js"></script>
    <script src="/js/libs/angular-simple-logger.min.js"></script>
    <script src="/js/libs/lodash.min.js"></script>
    <script src="/js/libs/angular-resizable.js"></script>
    <script src="/js/libs/angular-ui-router-grant.min.js"></script>
    <script src="/js/libs/ng-img-crop.js"></script>
    <script src="/js/libs/ng-file-upload.min.js"></script>
    <script src="/js/libs/ng-file-upload-shim.min.js"></script>
    <script src="/js/libs/ng-google-chart.js"></script>
    <script src="/js/libs/vis.js"></script>
    <script src="/js/libs/angular-socialshare.js"></script>

    <script src="https://angular-file-upload.appspot.com/js/ng-file-upload-shim.js"></script>
    <script src="https://angular-file-upload.appspot.com/js/ng-file-upload.js"></script>
    <script src="https://rawgit.com/alexk111/ngImgCrop/master/compile/unminified/ng-img-crop.js"></script>

    <!-- AngularJS app -->
    <script src="/js/App.js"></script>
    <script src="/js/AppConfigs.js"></script>
    <script src="/js/PermissionControl.js"></script>

    <!-- AngularJS directives -->
    <script src="/js/directives/ModalWindow.js"></script>
    <script src="/js/directives/ValidatorsDirective.js"></script>

    <!-- AngularJS factories -->
    <script src="/js/factories/msg.js"></script>
    <script src="/js/factories/msgError.js"></script>


    <!-- AngularJS Ctrls -->
    <script src="/js/controllers/MainCtrl.js"></script>
    <script src='/js/controllers/RestorePasswordCtrl.js'></script>

  </head>


<body>
<div class="row" ng-controller='RestorePasswordCtrl'>
  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
    <form role="form" name="restorePass" ng-submit="updatePass(newPass)" novalidate>
      <div class="panel-default panel">
        <div class="panel-heading">Відновлення пароля</div>
        <div class="panel-content login">
          <div class="form-group">
            <label for="newPass" class="control-label">Новий пароль</label>
            <div class="form-group" ng-class="{ 'has-error': (restorePass.newPass.$touched || submitted) && restorePass.newPass.$invalid }">
              <input type="password" ng-model="newPass.pass" name="newPass" ng-minlength="6" ng-maxlength="40" class="form-control" id="newPass" placeholder="Новий пароль" required/>
              <div class="help-block" ng-messages="restorePass.newPass.$error" ng-show="restorePass.newPass.$touched || submitted">
                <div ng-messages-include="/templates/error_msgs.html"></div>
              </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': (restorePass.confirmPass.$touched || submitted) && restorePass.confirmPass.$invalid }">
              <label for="newPass" class="control-label">Підтвердіть пароль</label>
              <input type="password" ng-model="newPass.confirmPass" name="confirmPass" class="form-control" id="confirmPass" placeholder="Підтвердіть пароль" required compare-to="newPass.pass"/>
              <div class="help-block" ng-messages="restorePass.confirmPass.$error" ng-show="restorePass.confirmPass.$touched || submitted">
                <div ng-messages-include="/templates/error_msgs.html"></div>
              </div>
            </div>
          </div>

          <br>
          <button type="submit" class="btn btn-primary">Відновити</button>
        </div>
      </div>
    </form>

  </div>
</div>
</body>
</html>
