<div class="row" ng-controller="ProblemCtrl">
  <div class="col-md-12">
    <table class="table table-stripped">
      <thead>
        <tr>
          <td></td>
          <td>Тип проблеми</td>
          <td>Радіус</td>
          <td>
            <button class="btn btn-primary btn-border" ng-click="showAddPpoblemTypeModal()">
              <i class="fa fa-plus "></i>&nbsp;&nbsp;додати
            </button>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="problem in Problems">
          <td><img ng-src="/image/markers/{{problem.picture}}" class = "img-responsive" alt="Marker for problem"/></td>
          <td>{{problem.name}}</td>
          <td>{{problem.radius}}</td>
          <td>
            <button class="btn btn-danger edit_btn btn-border" ng-click="deleteProblem(user.id)">
            видалити</button>

            <button class="btn btn-primary edit_btn btn-border" ng-click="showEditPpoblemTypeModal()">змінити</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <modal title="Додати новий тип проблем" visible="addProblemTypeModal">
      <form  ng-submit="addProblemSubmit(problem)" name="addProblemForm" novalidate>
        <div class="form-group" ng-class="{'has-error': (addProblemForm.problem_type.$touched ||
                                          addProblemSub)&& addProblemForm.problem_type.$invalid }">
          <div class="row">
            <div class="col-md-12">
              <label for="" class="control-label" >Тип проблеми: </label >
                <input type="text"
                       class="form-control"
                       name="problem_type"
                       ng-model="problem.problem_type"
                       ng-maxlength="255"
                       required>
              <div class="help-block" ng-messages="addProblemForm.problem_type.$error"
                   ng-show="addProblemForm.problem_type.$touched || addProblemSub">
                <div ng-messages-include="/templates/error_msgs.html"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group"
              ng-class="{'has-error':(addProblemForm.radius.$touched || addProblemSub)&&
                        addProblemForm.radius.$invalid }">
          <div class="row">
            <div class="col-md-12">
            <label for="" class="control-label">Радіус: </label >
              <input type="text"
                     class="form-control"
                     name="radius"
                     ng-model="problem.radius"
                     ng-maxlength="255"
                     required>
              <div class="help-block" ng-messages="addProblemForm.radius.$error" ng-show="addProblemForm.radius.$touched || addProblemSub">
                <div ng-messages-include="/templates/error_msgs.html"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group" >
          <div class="row">
            <div class="col-md-12">
              <button type="sumbit" 
                      class="btn btn-primary btn-border pull-left" 
                      ng-click="addProblemSub=true">додати</button>
            </div>
          </div>
        </div>
      </form>
  </modal>
  <modal title="Редагувати тип проблем" visible="editProblemTypeModal">
      <form  ng-submit="editProblemSubmit()" name="editProblemForm" novalidate>
        <div class="form-group" ng-class="{'has-error': (editProblemForm.problem_type.$touched ||
                                          editProblemSub)&& editProblemForm.problem_type.$invalid }">
          <div class="row">
            <div class="col-md-12">
              <label for="" class="control-label" >Тип проблеми: </label >
                <input type="text"
                       class="form-control"
                       name="problem_type"
                       ng-model="problem.problem_type"
                       ng-maxlength="255"
                       required>
              <div class="help-block" ng-messages="editProblemForm.problem_type.$error"
                   ng-show="editProblemForm.problem_type.$touched || editProblemSub">
                <div ng-messages-include="/templates/error_msgs.html"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group"
              ng-class="{'has-error':(editProblemForm.radius.$touched || editProblemSub)&&
                        editProblemForm.radius.$invalid }">
          <div class="row">
            <div class="col-md-12">
            <label for="" class="control-label">Радіус: </label >
              <input type="text"
                     class="form-control"
                     name="radius"
                     ng-model="problem.radius"
                     ng-maxlength="255"
                     required>
              <div class="help-block" ng-messages="editProblemForm.radius.$error" ng-show="editProblemForm.radius.$touched || editProblemSub">
                <div ng-messages-include="/templates/error_msgs.html"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group" >
          <div class="row">
            <div class="col-md-12">
              <button type="sumbit" class="btn btn-primary btn-border pull-left" ng-click="editProblemSub=true">додати</button>
            </div>
          </div>
        </div>
      </form>
  </modal>
</div>
