<h3>Відомості про аккаунт</h3>
<hr>
<div class="row">
<div class="profile">
  <img class="img-responsive avatar"  ng-src="{{ user.data.avatar }}">
  <div ng-controller="ChangePhotoCtrl">
    <span class="text-content" ng-click = "showModalPhoto()" >
    <span>змінити фото</span>
    </span>


    <modal title="Додати фотографію профілю" visible="photo"  >
    <form name="uploadPhoto">
      <div class="modal-resize">
        <button class="btn btn-info photo-btn add" ngf-select ng-model="picFile"
        name="file" accept="image/*" ngf-pattern="'image/*'"
        ngf-max-size="5MB" ngf-change="showCanvas(uploadPhoto)" required="">
        Оберіть фото</button>
        <button class="btn btn-danger photo-btn remove" ng-show="deleteButton" ng-click="setDefaultPhoto()">Видалити існуюче фото</button>
        <span class="image-info">*розмір фотографії не повинен перевищувати 5Mb</span>
        <div class="cropArea" ngf-drop
          ng-model="picFile" ngf-pattern="image/*">
          <img-crop image="picFile  | ngfDataUrl" area-type="square"
          filename = "picFile.filename"
          result-image="newImage" ng-init="newImage=''" ng-show="showStatus">
          </img-crop>
        </div>
        <button class="btn btn-success photo-btn "
        ng-disabled="!uploadPhoto.$valid"
        ng-click="upload(newImage, picFile)" ng-show="uploadButton">Завантажити</button>
        <button class="btn btn-danger photo-btn " ng-click="picFile = null || cancelImg(picFile)" ng-show="uploadButton">Закрити</button>
      </div>
    </form>
    </modal>
  </div>
</div>
<div class="user-info col-xs-12 col-sm-12 col-md-6 col-lg-6">
  <p><strong>Імя: </strong><span ng-bind="user.data.name"></span></p>
  <p><strong>Прізвище: </strong><span ng-bind="user.data.surname"></span></p>
  <p>
    <strong>Псевдонім: </strong>
    <span ng-bind="user.data.nickname" ng-show="editMode"></span>
    <input name="newnickname" type="text" ng-model="user.data.nickname"  value="{{user.data.nickname}}" ng-hide="editMode" required>
    <span role="button" ng-class="cls_edit_nick" ng-click="changeNick()"></span>
  </p>
  <p><strong>Електронна пошта: </strong> <span ng-bind="user.data.email"></span></p>
  <p><strong>Роль користувача: </strong><span ng-bind="user.data.role"></span></p>
</div>
</div>
<br>
<h3>Зміна пароля</h3>
<hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <form  class="change-password" ng-submit='changePassword(password, changePasswordForm);submitted=false' name="changePasswordForm" novalidate>
      <div class="form-group" ng-class="{ 'has-error': (changePasswordForm.old_pass.$touched || submitted) && changePasswordForm.old_pass.$invalid || getWrongPass()}">
        <label for="old_pass" class="control-label">Старий пароль:</label>
        <input type="password" id="old_pass" name="old_pass" ng-model='password.old_pass' class="form-control" ng-change="changeWrongPass()" required>
        <div class="help-block" ng-messages="changePasswordForm.old_pass.$error" ng-show="changePasswordForm.old_pass.$touched || submitted">
          <div ng-messages-include="/templates/error_msgs.html"></div>
        </div>
        <div class="help-block">
          <p ng-show="getWrongPass()">Невірний пароль!</p>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error': (changePasswordForm.new_pass.$touched || submitted) && changePasswordForm.new_pass.$invalid }">
        <label for="new_pass" class="control-label">Новий пароль:</label>
        <input type="password" id="new_pass" name="new_pass" ng-model='password.new_pass' class="form-control" ng-minlength="6" ng-maxlength="40" required>
        <div class="help-block" ng-messages="changePasswordForm.new_pass.$error" ng-show="changePasswordForm.new_pass.$touched || submitted">
          <div ng-messages-include="/templates/error_msgs.html"></div>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error': (changePasswordForm.new_pass_confirm.$touched || submitted) && changePasswordForm.new_pass_confirm.$invalid }">
        <label for="new_pass_confirm" class="control-label">Підтвердіть новий пароль:</label>
        <input type="password" id="new_pass_confirm" name="new_pass_confirm" ng-model='password.new_pass_confirm' class="form-control" compare-to="password.new_pass" required>
        <div class="help-block" ng-messages="changePasswordForm.new_pass_confirm.$error" ng-show="changePasswordForm.new_pass_confirm.$touched || submitted" >
          <div ng-messages-include="/templates/error_msgs.html"></div>
        </div>
      </div>
      <button class="btn btn-default" type='submit' ng-click="submitted=true">Змінити</button>
    </form>

  </div>
</div>

<br>
<h3>Видалення аккаунта</h3>
<hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="form-group delete-account">
      <button class="btn btn-danger " ng-click="userDelete()">Видалити аккаунт</button>
      <p>*вам буде надіслано лист на електронну пошту із подальшими інструкціями.</p>
    </div>
  </div>
</div>
