<div ng-controller="UserProblemTableCtrl">
  <div class="row">
    <h3 class="col-md-10">Проблеми {{user.data.surname}} {{user.data.name}}</h3>
    <div class="col-md-1 col-sm-2">
      <div class="select">
        <select ng-model="selectCount.selected" 
                class="form-control" 
                data-ng-options="select_count as select_count for (select_id,select_count)
                                in selectCountObj" 
                ng-change="loadProblems()">
        </select>
      </div>
    </div>
  </div>
  <div ng-show="showTable == false">
    <input type="radio"  ng-model="problem_view" 
           ng-change='newValueChoose(problem_view)'
           ng-value="false" id="my_problem">
    <label for="my_problem" ng-class="{check: problem_view}">Моі проблеми</label>
    <input type="radio"  ng-model="problem_view" 
           ng-change='newValueChoose(problem_view)'
           ng-value="true" id="all_problem">
    <label for="all_problem" ng-class="{check: !problem_view}">Всі проблеми</label>
  </div>
  <hr class="problems">
  <table class="table table-stripped UserProblemTable">
    <thead>
      <tr>
        <td ng-click="sortType = 'last_name';sortReverse = !sortReverse"
            ng-show='showTable == true'><strong>Користувач</strong>
          <span ng-show="sortType == 'last_name' && !sortReverse" class="fa fa-caret-down">
          </span>
          <span ng-show="sortType == 'last_name' && sortReverse" class="fa fa-caret-up">
          </span>
        </td>
        <td ng-click="sortType = 'last_name';sortReverse = !sortReverse"
            ng-show='showTable == true || nickname == true'><strong>Нікнейм</strong>
          <span ng-show="sortType == 'last_name' && !sortReverse" class="fa fa-caret-down">
          </span>
          <span ng-show="sortType == 'last_name' && sortReverse" class="fa fa-caret-up">
          </span>
        </td>
        <td ng-click="sortType = 'title';sortReverse = !sortReverse"><strong>Заголовок</strong>
          <span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-down">
          </span>
          <span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-up">
          </span>
        </td>
        <td><strong ng-click="sortType = 'type';sortReverse = !sortReverse">Тип проблеми</strong>
          <span ng-show="sortType == 'type' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'type' && sortReverse" class="fa fa-caret-up"></span>
        </td>
        <td ng-click="sortType = 'status';sortReverse = !sortReverse"><strong>Статус</strong>
          <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
        </td>
        <td ng-click="sortType = 'date';sortReverse = !sortReverse"><strong>Дата створення</strong>
          <span ng-show="sortType == 'date' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'date' && sortReverse" class="fa fa-caret-up"></span>
        </td>
        <td><strong>Детальне інфо</strong> 
        </td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="problem in problems | orderBy:sortType:sortReverse">
        <td ng-model="problem.last_name" ng-show='showTable == true'>
          {{problem.first_name}} {{problem.last_name}}</td>
        <td ng-model="problem.nickname" ng-show='showTable == true || nickname==true'>
          {{problem.nickname}}</td>
        <td ng-model="problem.title" class="problem-title">{{problem.title}}</td>
        <td ng-model="problem.problem_type_id">
          {{problem.name}}</td>
        <td ng-model="problem.status">{{getStatus(problem.status)}}</td>
        <td>{{problem.date | date : "dd/MM/yyyy "}}</td>
        <td><a href="" ng-click="triggerDetailModal(problem.id)">переглянути</a></td>
      </tr>
    </tbody>
  </table>
  <p ng-hide="problemsLength==0">
    <strong>Загальна кількість проблем: </strong>
    <span>{{count}}</span>
  </p>
  <div class="row">
    <div class="col-md-8 col-md-offset-4">
      <uib-pagination ng-change="change(bigCurrentPage)" total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination" boundary-links="true"></uib-pagination >
    </div>
  </div>
</div>
