<div ng-controller="UserSubscriptionsTableCtrl">
  <div class="row">
    <h3 class="col-md-10">Підписки  {{user.data.surname}} {{user.data.name}}</h3>
  </div>
  <div class="row">
    <div class="col-md-5 col-sm-6 col-xs-6">
      <form class="form-inline form-search" name="search">
        <input type="text" ng-model="searchNick" 
               class="form-control"
               ng-init="showSearch" 
               ng-change="loadProblems()"
               placeholder="Пошук по нікнейму" />
      </form>
    </div>
    <div class="col-lg-offset-5 col-lg-1 col-md-offset-5 col-md-1 col-sm-offset-4 col-sm-2 col-xs-offset-4 col-xs-2">
        <select ng-model="selectCount.selected" 
                class="form-control form-problems" 
                data-ng-options="select_count as select_count for (select_id,select_count) in selectCountObj" 
                ng-change="loadProblems()">
        </select>
    </div>
  </div>
  <hr>
  <table class="table table-stripped UserProblemTable">
    <thead>
      <tr>
        <td ng-click="sortType = 'last_name';sortReverse = !sortReverse"
            ng-show="showTable==true"><strong>Користувач</strong>
          <span ng-show="sortType == 'last_name' && !sortReverse" class="fa fa-caret-down">
          </span>
          <span ng-show="sortType == 'last_name' && sortReverse" class="fa fa-caret-up">
          </span>
        </td>
        <td ng-click="sortType = 'nickname';sortReverse = !sortReverse"
            ng-show="nickname==true || showTable==true"><strong>Псевдонім</strong>
          <span ng-show="sortType == 'nickname' && !sortReverse" class="fa fa-caret-down">
          </span>
          <span ng-show="sortType == 'nickname' && sortReverse" class="fa fa-caret-up">
          </span>
        </td>
        <td ng-click="sortType = 'title';sortReverse = !sortReverse"><strong>Заголовок</strong>
          <span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-down">
          </span>
          <span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-up">
          </span>
        </td>
        <td><strong ng-click="sortType = 'type';sortReverse = !sortReverse">Тип проблеми</strong>
          <span ng-show="sortType == 'type' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'type' && sortReverse" class="fa fa-caret-up"></span>
        </td>
        <td ng-click="sortType = 'status';sortReverse = !sortReverse"><strong>Статус</strong>
          <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
        </td>
        <td ng-click="sortType = 'date';sortReverse = !sortReverse"><strong>Дата створення</strong>
          <span ng-show="sortType == 'date' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'date' && sortReverse" class="fa fa-caret-up"></span>
        </td>
        <td ng-click="sortType = 'date';sortReverse = !sortReverse"><strong>Дата підписки</strong>
          <span ng-show="sortType == 'date' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'date' && sortReverse" class="fa fa-caret-up"></span>
        </td>
        <td><strong>Детальне інфо</strong> 
        </td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="subscription in subscriptions | orderBy:sortType:sortReverse">
        <td ng-model="subscription.last_name" class="problem-title" ng-show="showTable==true">{{subscription.first_name}} {{subscription.last_name}}</td>
        <td ng-model="subscription.nickname" class="problem-title" ng-show="showTable==true || nickname==true">{{subscription.nickname}}</td>
        <td ng-model="subscription.title" class="problem-title">{{subscription.title}}</td>
        <td ng-model="subscription.problem_type_id">{{subscription.name}}</td>
        <td ng-model="subscription.status">{{subscription.status}}</td>
        <td>{{subscription.date | date : "dd/MM/yyyy "}}</td>
        <td>{{subscription.date_subscription | date : "dd/MM/yyyy "}}</td>
        <td><a href="" ng-click="triggerDetailModal(subscription.id)">переглянути</a></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <p ng-hide="problemsLength==0">
    <strong>Загальна кількість підписок: </strong>
    <span>{{count}}</span>
  </p>
  <h3 class="text-center" ng-hide="hideSubscriptions == true">Підписки відсутні.</h3>
  <div class="row" ng-hide="hideSubscriptions == false">
    <div class="col-md-8 col-md-offset-4">
      <uib-pagination ng-change="change(bigCurrentPage)" total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination" boundary-links="true"></uib-pagination >
    </div>
  </div>
</div>
