<div ng-controller="UserSubscriptionsTableCtrl">
  <h3>Підписки  {{user.data.surname}} {{user.data.name}}</h3>
  <hr>
  <table class="table table-stripped UserProblemTable">
    <thead>
      <tr>
        <td ng-click="sortType = 'id';sortReverse = !sortReverse"><strong>Номер</strong>
          <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down">
          </span>
          <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up">
          </span>
        </td>
        <td ng-click="sortType = 'last_name';sortReverse = !sortReverse"
            ng-show='showTable == true'><strong>Ім’я</strong>
          <span ng-show="sortType == 'last_name' && !sortReverse" class="fa fa-caret-down">
          </span>
          <span ng-show="sortType == 'last_name' && sortReverse" class="fa fa-caret-up">
          </span>
        </td>
        <td ng-click="sortType = 'title';sortReverse = !sortReverse"><strong>Заголовок</strong>
          <span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-down">
          </span>
          <span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-up">
          </span>
        </td>
        <td><strong ng-click="sortType = 'type';sortReverse = !sortReverse">Тип проблеми</strong>
          <span ng-show="sortType == 'type' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'type' && sortReverse" class="fa fa-caret-up"></span>
        </td>
        <td ng-click="sortType = 'status';sortReverse = !sortReverse"><strong>Статус</strong>
          <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
        </td>
        <td ng-click="sortType = 'date';sortReverse = !sortReverse"><strong>Дата створення</strong>
          <span ng-show="sortType == 'date' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'date' && sortReverse" class="fa fa-caret-up"></span>
        </td>
        <td ng-click="sortType = 'date';sortReverse = !sortReverse"><strong>Дата підписки</strong>
          <span ng-show="sortType == 'date' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'date' && sortReverse" class="fa fa-caret-up"></span>
        </td>
        <td><strong>Детальне інфо</strong> 
        </td>
<!--         <td ng-click="sortType = 'subscr';sortReverse = !sortReverse"><strong>Підписка</strong>
          <span ng-show="sortType == 'subscr' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'subscr' && sortReverse" class="fa fa-caret-up"></span>
        </td> -->
        <td>
          <select ng-model="selectCount.selected" class="form-control" data-ng-options="select_count as select_count for (select_id,select_count) in selectCountObj" ng-change="loadProblems()">
          </select>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="subscription in subscriptions | orderBy:sortType:sortReverse">
        <td ng-model="subscription.id">{{subscription.id}}</td>
        <td ng-model="subscription.title" class="problem-title">{{subscription.title}}</td>
        <td ng-model="subscription.problem_type_id">{{getProblemType(subscription.problem_type_id)}}</td>
        <td ng-model="subscription.status">{{getStatus(subscription.status)}}</td>
        <td>{{subscription.date | date : "dd/MM/yyyy "}}</td>
        <td>{{subscription.date_subscription | date : "dd/MM/yyyy "}}</td>
        <td><a href="" ng-click="triggerDetailModal(subscription.id)">переглянути</a></td>
        <td></td>
      </tr>
    </tbody>
  </table>
    <div class="row">
      <div class="col-md-8 col-md-offset-4">
        <uib-pagination ng-change="change(bigCurrentPage)" total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination" boundary-links="true"></uib-pagination >
      </div>
    </div>
    <modal title="Детальна інформація про проблему" visible="detailedInfoModal" class="det-problem-modal">
      <div class="title">
        <h3 ng-bind="detailedProblem.title"></h3>
      </div>
      <div class="general">
        <div class="rate">
          <uib-rating max="5" ng-model="detailedProblem.severity" readonly="true" state-on="'fa fa-star'" state-off="'fa fa-star-o'"></uib-rating>
        </div>
        <div class="solution unsolved" >
          <strong><span ng-bind="detailedProblem.status" ng-class="{ 'solved': 'detailedProblem.status' == 'solved' }"></span></strong>
        </div>
        <div class="clear">
        </div>
      </div>
      <uib-tabset justified="true">
      <uib-tab heading="Детально">
        <div class="problem-type">
          <p><strong>Тип проблеми:</strong></p>
          <p ng-bind="detailedProblem.problem_type_id"></p>
        </div>
        <div class="description">
          <p><strong>Опис проблеми:</strong></p>
          <p ng-bind="detailedProblem.content"></p>
        </div>
        <div class="proposal">
          <p><strong>Пропозиції щодо вирішення</strong></p>
          <p ng-bind="detailedProblem.proposal"></p>
        </div>
      </uib-tab>
      <uib-tab heading="Коментарі">
        <div class="row">
          <div class="col-sm-12" ng-repeat='comment in comments'>
            <div class="panel panel-default">
              <div class="panel-heading">
                <strong>{{comment.name}}</strong>
                <span class="text-muted">{{comment.created_date | date : "dd/MM/yyyy HH:mm "}}</span>
              </div>
              <div class="panel-body comment-block">
                {{comment.content}}
              </div>
            </div>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </modal>
</div>
