<div ng-controller="UserCommentsTableCtrl">
  <div class="row">
    <h3 class="col-md-10 title">Коментарі {{user.data.surname}} {{user.data.name}}</h3>
  </div>
  <div class="row">
    <div class="col-md-5 col-sm-6 col-xs-6">
        <form class="form-inline form-search" name="search">
            <input type="text" ng-model="searchNick" 
                    class="form-control"
                    ng-init="showSearch" 
                    ng-change="loadComments()"
                    placeholder="Пошук по нікнейму" />
        </form>
    </div>
    <div class="col-md-offset-6 col-md-1 col-sm-offset-4 col-sm-2 col-xs-offset-4 col-xs-2">
        <select ng-model="selectCount.selected" 
                class="form-control form-comments" 
                data-ng-options="select_count as select_count for (select_id,select_count) in selectCountObj" 
                ng-change="loadComments()">
        </select>
    </div>
  </div>
  <hr class="problems">
    <div class="row comment-row" ng-repeat-start="comment in comments | orderBy:sortType:sortReverse">
        <div class="input-group col-lg-12 col-xs-12" >
            <div class="input-group-addon no-float col-lg-2 col-xs-2" ng-show="ShowAdminInfo" data-toggle="tooltip" data-placement="top" title="Проблема: {{comment.problem_title}}&#010;Користувач: {{comment.first_name}} {{comment.last_name}}&#010; Псевдонім: {{comment.nickname}}&#010; Час: {{comment.created_date | date : 'dd/MM/yyyy HH:mm:ss'}}" tooltip>
                <div class="comments-nickname">
                    <span>{{comment.nickname}}</span>
                </div>
                <div>
                    <span>{{comment.created_date | date : "dd/MM/yyyy"}}</span>
                </div>
            </div>
            <div class="input-group-addon no-float col-lg-2 col-xs-2" ng-show="!ShowAdminInfo" data-toggle="tooltip" data-placement="top" title="Псевдонім: {{comment.nickname}}&#010;Проблема: {{comment.problem_title}}&#010;Час: {{comment.created_date | date : 'dd/MM/yyyy HH:mm:ss'}}" tooltip>
                <div class="comments-nickname">
                    <span>{{comment.nickname}}</span>
                </div>
                <div>
                    <span>{{comment.created_date | date : "dd/MM/yyyy"}}</span>
                </div>
            </div>
            <div class="form-control no-float col-lg-7 col-xs-7">
                <span>{{comment.content}}</span>
            </div>

            <div class="input-group-addon sub-comments-count no-float col-lg-1 col-xs-1" ng-show="comment.sub_count" >
                <a role="button" ng-click="loadSubComments(comment.id)" data-toggle="tooltip" data-placement="top" title="Переглянути відповіді" tooltip>{{comment.sub_count}} <i class="fa fa-commenting-o"></i></a>
            </div>

            <div class="input-group-addon no-float col-lg-1 col-xs-1">
                <i class="fa fa-link" ng-click="triggerDetailModal(comment.problem_id)" role='button' data-toggle="tooltip" data-placement="top" title="Перейти до проблеми" tooltip></i>
            </div>

            <div class="input-group-addon no-float col-lg-1 col-xs-1" ng-show="ShowAdminInfo || (comment.user_id==user_id) ">
                <a role="button" ng-click="deleteComment(comment.id, comment.parent_id)" data-toggle="tooltip" data-placement="top" title="Видалити коментар" tooltip><i class="fa fa-trash-o"></i></a> 
            </div>
        </div>
    </div>
    <div class="row comment-row" ng-repeat-end ng-if="comment.id===subcomment_parent" ng-show="showSubComments" ng-repeat='subcomment in subcomments | orderBy:sortType:sortReverse'>
        <div class="input-group col-lg-11 col-xs-11 col-lg-offset-1 col-xs-offset-1" ng-show="ShowAdminInfo">
            <div class="input-group-addon no-float col-lg-2 col-xs-2" data-toggle="tooltip" data-placement="top" title="Користувач: {{subcomment.first_name}} {{subcomment.last_name}}&#010;Псевдонім: {{subcomment.nickname}}&#010;Час: {{subcomment.created_date | date : 'dd/MM/yyyy HH:mm:ss'}}" tooltip>
                <div class="comments-nickname">
                    <span>{{subcomment.nickname}}</span>
                </div>
                <div>
                    <span>{{subcomment.created_date | date : "dd/MM/yyyy "}}</span>
                </div>
            </div>
            <div class="form-control no-float col-lg-7 col-xs-7">
                <span>{{subcomment.content}}</span>
            </div>
             <div class="input-group-addon no-float col-lg-1 col-xs-1" ng-show="ShowAdminInfo || (comment.user_id==user_id)">
                <a role="button" ng-click="" data-toggle="tooltip" data-placement="top" title="Видалити коментар" tooltip><i class="fa fa-trash-o"></i></a> 
            </div>
        </div>
        <div class="input-group col-lg-11 col-xs-11 col-lg-offset-1 col-xs-offset-1" ng-show="!ShowAdminInfo">
            <div class="input-group-addon  no-float col-lg-2 col-xs-2" data-toggle="tooltip" data-placement="top" title="Псевдонім: {{subcomment.nickname}}&#010;Час: {{subcomment.created_date | date : 'dd/MM/yyyy HH:mm:ss'}}" tooltip>
                <div class="comments-nickname">
                    <span>{{subcomment.nickname}}</span>
                </div>
                <div>
                    <span>{{subcomment.created_date | date : "dd/MM/yyyy "}}</span>
                </div>
            </div>
            <div class="form-control no-float col-lg-7 col-xs-7">
                <span>{{subcomment.content}}</span>
            </div>
            <div class="input-group-addon no-float col-lg-1 col-xs-1" ng-show="ShowAdminInfo || (subcomment.user_id==user_id)">
                <a role="button" ng-click="deleteComment(subcomment.id, subcomment.parent_id)" data-toggle="tooltip" data-placement="top" title="Видалити коментар" tooltip><i class="fa fa-trash-o"></i></a> 
            </div>
        </div>
    </div>
    <p ng-hide="commentsCount == 0">
        <strong>Загальна кількість коментарів: </strong>
        <span>{{commentsCount}}</span>
    </p>
    <h3 class="text-center" ng-hide="commentsCount != 0">Коментарі відсутні.</h3>
    <div class="row" ng-hide="commentsCount == 0">
      <div class="col-md-8 col-md-offset-4">
        <uib-pagination ng-change="change(bigCurrentPage)" total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination" boundary-links="true"></uib-pagination >
      </div>
    </div>
</div>
