<div class="container" ng-hide="isFetching==true">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
      <form role="form" ng-submit="Register(newUser)" name="registerForm" id="registerForm" novalidate>
        <div class="panel panel-default">
          <div class="panel-heading">Реєстрація</div>
          <div class="panel-content register">
            <div class="form-group" ng-class="{ 'has-error': (registerForm.email.$touched || submitted) && registerForm.email.$invalid }">
              <label for="email" class="control-label"><span class=del>* </span>Електронна адреса</label>
              <input type="email"  ng-model="newUser.email" name="email" ng-maxlength="100" ng-change="checkIfExists()" class="form-control" id="email" placeholder="Електронна адреса" ng-pattern= "/^[a-zA-Z0-9._]+@[a-zA-Z0-9._]+\.[a-zA-Z]{2,}$/" required available-email/>
              <div class="help-block" ng-messages="registerForm.email.$error" ng-show="registerForm.email.$touched || submitted">
                <div ng-messages-include="/templates/error_msgs.html"></div>
              </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': (registerForm.name.$touched || submitted) && registerForm.name.$invalid }">
              <label for="name" class="control-label"><span class=del>* </span>Ім'я</label>
              <input type="text"  ng-model="newUser.first_name" name="name" ng-maxlength="20" class="form-control" id="name" placeholder="Ім'я" data-error="Необхідно ввести ім'я!" ng-pattern= "/^[a-zA-Zа-яА-ЯіїІЇєЄґҐ]{1,}(\'|\-?)[a-zA-Zа-яА-ЯіїІЇєЄґҐ]{0,}(\'|\-?)[a-zA-Zа-яА-ЯіїІЇєЄґҐ]+$/" required/>
              <div class="help-block" ng-messages="registerForm.name.$error" ng-show="registerForm.name.$touched || submitted">
                <div ng-messages-include="/templates/error_msgs.html"></div>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': (registerForm.surname.$touched || submitted) && registerForm.surname.$invalid }">
              <label for="surname" class="control-label"><span class=del>* </span>Прізвище</label>
              <input type="text"  ng-model="newUser.last_name" name="surname" ng-maxlength="20" class="form-control" id="surname" ng-pattern= "/^[a-zA-Zа-яА-ЯіїІЇєЄґҐ]{1,}(\'|\-?)[a-zA-Zа-яА-ЯіїІЇєЄґҐ]{0,}(\'|\-?)[a-zA-Zа-яА-ЯіїІЇєЄґҐ]+$/" placeholder="Прізвище" data-error="Необхідно ввести прізвище!" required/>
              <div class="help-block"  ng-messages="registerForm.surname.$error" ng-show="registerForm.surname.$touched || submitted">
                <div ng-messages-include="/templates/error_msgs.html"></div>
              </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': (registerForm.nickname.$touched || submitted) && registerForm.nickname.$invalid }">
              <label for="nickname" class="control-label"><span class=del>* </span>Псевдонім</label>
              <input type="text"  ng-model="newUser.nickname" name="nickname" ng-maxlength="25" class="form-control" id="nickname" placeholder="Псевдонім" required available-nickname/>
              <div class="help-block" ng-messages="registerForm.nickname.$error" ng-show="registerForm.nickname.$touched || submitted">
                <div ng-messages-include="/templates/error_msgs.html"></div>
              </div>
            </div>

            <div class="form-group">
              <div class="form-group" ng-class="{ 'has-error': (registerForm.password.$touched || submitted) && registerForm.password.$invalid }">
                <label for="password" class="control-label"><span class=del>* </span>Пароль</label>
                <input type="password" ng-model="newUser.password" name="password" ng-minlength="6" ng-maxlength="40" class="form-control" id="password" placeholder="Пароль" required/>
                <div class="help-block" ng-messages="registerForm.password.$error" ng-show="registerForm.password.$touched || submitted">
                  <div ng-messages-include="/templates/error_msgs.html"></div>
                </div>
              </div>

              <div class="form-group" ng-class="{ 'has-error': (registerForm.pass_confirm.$touched || submitted) && registerForm.pass_confirm.$invalid }">
                <label for="password" class="control-label"><span class=del>* </span>Підтвердіть пароль</label>
                <input type="password" ng-model="newUser.pass_confirm" name="pass_confirm" class="form-control" id="pass_confirm" placeholder="Підтвердіть пароль" data-match-error="#password" required compare-to="newUser.password"/>
                <div class="help-block" ng-messages="registerForm.pass_confirm.$error" ng-show="registerForm.pass_confirm.$touched || submitted">
                  <div ng-messages-include="/templates/error_msgs.html"></div>
                </div>              
              </div>                
            </div>

            <br>
            <button type="submit" class="btn btn-primary">Зареєструвати</button>
          
          </div>
        </div>
        <div class="control-label"><span class=del>* </span> - поля обов'язкові для заповнення.</div>
      </form>
      
    
    </div>
  </div>
  
</div>
