<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" ng-click="dismiss()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Реєстрація</h4>  
</div>
<div class="modal-body">
  <form role="form" ng-submit="Register(newUser)" name="registerForm" id="registerForm" novalidate>
    <div class="form-group" ng-class="{ 'has-error': (registerForm.email.$touched || submitted) && registerForm.email.$invalid }">
      <label for="email" class="control-label">Електронна адреса</label>
      <input type="email"  ng-model="newUser.email" name="email" ng-maxlength="100" ng-change="checkIfExists()" class="form-control" id="email" placeholder="Електронна адреса" required available-email/>
      <div class="help-block" ng-messages="registerForm.email.$error" ng-show="registerForm.email.$touched || submitted">
        <div ng-messages-include="/templates/error_msgs.html"></div>
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error': (registerForm.name.$touched || submitted) && registerForm.name.$invalid }">
      <label for="name" class="control-label">Ім'я</label>
      <input type="text"  ng-model="newUser.first_name" name="name" ng-maxlength="100" class="form-control" id="name" placeholder="Ім'я" data-error="Необхідно ввести ім'я!" required/>
      <div class="help-block" ng-messages="registerForm.name.$error" ng-show="registerForm.name.$touched || submitted">
        <div ng-messages-include="/templates/error_msgs.html"></div>
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error': (registerForm.surname.$touched || submitted) && registerForm.surname.$invalid }">
      <label for="surname" class="control-label">Прізвище</label>
      <input type="text"  ng-model="newUser.last_name" name="surname" ng-maxlength="100" class="form-control" id="surname" placeholder="Прізвище" data-error="Необхідно ввести прізвище!" required/>
      <div class="help-block" ng-messages="registerForm.surname.$error" ng-show="registerForm.surname.$touched || submitted">
        <div ng-messages-include="/templates/error_msgs.html"></div>
      </div>
    </div>

    <div class="form-group">
      <label for="password" class="control-label">Пароль</label>
      <div class="form-group" ng-class="{ 'has-error': (registerForm.password.$touched || submitted) && registerForm.password.$invalid }">
        <input type="password" ng-model="newUser.password" name="password" ng-minlength="6" ng-maxlength="40" class="form-control" id="password" placeholder="Пароль" required/>
        <div class="help-block" ng-messages="registerForm.password.$error" ng-show="registerForm.password.$touched || submitted">
          <div ng-messages-include="/templates/error_msgs.html"></div>
        </div>
      </div>

      <div class="form-group" ng-class="{ 'has-error': (registerForm.pass_confirm.$touched || submitted) && registerForm.pass_confirm.$invalid }">
        <input type="password" ng-model="newUser.pass_confirm" name="pass_confirm" class="form-control" id="pass_confirm" placeholder="Підтвердіть пароль" data-match-error="#password" required compare-to="newUser.password"/>
        <div class="help-block" ng-messages="registerForm.pass_confirm.$error" ng-show="registerForm.pass_confirm.$touched || submitted">
          <div ng-messages-include="/templates/error_msgs.html"></div>
        </div>              
      </div>                
    </div>

    <br>
    <button type="submit" class="btn btn-primary">Зареєструвати</button>
  </form>
</div>
