{% extends "base.html" %}

{% block title %}POOL TEST{% endblock %}
{% block page_content %}
    <div class="container">
    <h1>DB POOL TEST</h1>
        <form method="POST" action="/db">
            enter SQL: <input type="text" name="sql_query">
            <input type="submit" name="submit" value="Submit">
        </form>
        {% if sql_query %}
            <h1>result for '{{ basic }}'</h1>
            <ul>
                {% for sq in  sql_query %}
                    {% for single in sq %}
                        <li>{{ single }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
