<div ng-controller="StatisticCtrl">
	<div class='statistic'>
		<div class="topProblems">			
			<div class='col-md-4'>
				<h2>ТОП 10 популярних проблем</h2>
				<br>
				<ul class="topItem">
					<a href="">
						<li>1. Забруднення водойм
							<p>
								<i class="fa fa-eye"></i>10000
							</p>
						</li>
					</a>
				</ul>
			</div>
			<div class='col-md-4'>
				<h2>ТОП 10 важливих проблем</h2>
				<br>
				<ul class="topItem">
					<a href="">
						<li>1. Хотиславський кар`єр 
							<p>
								<i class="fa fa-star"></i>20000
							</p>
						</li>
					</a>
				</ul>
			</div>
			<div class='col-md-4'>
				<h2>ТОП 10 обговорюваних проблем</h2>
				<br>
				<ul class="topItem">
					<a href="">
						<li>1. Проблема
							<p>
								<i class="fa fa-pencil"></i>30000
							</p>
						</li>
					</a>
				</ul>
			</div>
		</div>
	</div>
	<h1>Статистика за весь час</h1>
	<p>Кількість доданих проблем за останній день | тиждень | місяць</p>
	<div google-chart chart="chartObject" style="height:600px; width:100%;"></div>
</div>