<div ng-controller="StatisticCtrl" ng-cloak class='staticTop'>
	<div class='statistic'>
		<div class="topProblems row">
			<div class='col-lg-4 col-md-4'>
				<h2>ТОП 10 популярних<br>проблем</h2>
				<br>
				<ul class="topItem" ng-repeat='subscription in subscriptions'>
					<a href="" ng-click="triggerDetailModal(subscription.id)">
						<li>{{subscription.title}}
							<p>
								<i class="fa fa-eye"></i>{{subscription.count}}
							</p>
						</li>
					</a>
				</ul>
			</div>
			<div class='col-lg-4 col-md-4'>
				<h2>ТОП 10 важливих<br>проблем</h2>
				<br>
				<ul class="topItem" ng-repeat='severity in severities'>
					<a href="" ng-click="triggerDetailModal(severity.id)">
						<li>{{severity.title}}
							<p>
								<i class="fa fa-star"></i>{{severity.severity}}
							</p>
						</li>
					</a>
				</ul>
			</div>
			<div class='col-lg-4 col-md-4'>
				<h2>ТОП 10 обговорюваних проблем</h2>
				<br>
				<ul class="topItem" ng-repeat="problemcomm in problCommStats">
					<a href="" ng-click="triggerDetailModal(problemcomm.id)">
						<li>{{problemcomm.title}}
							<p>
								<i class="fa fa-pencil"></i>{{problemcomm.comments_count}}
							</p>
						</li>
					</a>
				</ul>
			</div>
		</div>
	</div>
	<div class="pie-chart">
		<div class="row">
			<div class="col-lg-4 col-lg-offset-4 col-sm-12">
				<h1>Статистика за весь час</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12">
					<ul class="all-statistic col-lg-3 col-md-3 col-sm-3 col-xs-6"
							ng-repeat="stat in all_statistic">
						<li class="text-center">{{stat.count}}</li>
						<li class="text-center">{{stat.title}}</li>
					</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<p>Кількість доданих проблем за останній
					<label class="period" ng-class="{checked: period==1}">
							<input type="radio" ng-value="1" name="period" ng-model="period"
										 ng-change="change(period)">день
					</label> |
					<label class="period" ng-class="{checked: period==2}">
							<input type="radio" ng-value="2" name="period" ng-model="period"
										 ng-change="change(period)">тиждень
					</label> |
					<label class="period" ng-class="{checked: period==3}">
							<input type="radio" ng-value="3" name="period" ng-model="period"
										 ng-change="change(period)">місяць
					</label> |
					<label class="period" ng-class="{checked: period==4}">
							<input type="radio" ng-value="4" name="period" ng-model="period"
										 ng-change="change(period)">рік
					</label>
				</p>
			</div>
		</div>
		<p><label class="period" ng-class="{checked: !period}">
					<input type="radio" ng-value="0" name="period" ng-model="period"
								 ng-change="change(period)">за весь час
			</label>
		</p>
		<div class="row">
			<div class="col-lg-12">
				<div id="piechar" google-chart chart="chartObject" style="height:500px; width:100%;"></div>
			</div>
		</div>
	</div>
	<div class="timeline statistic" style="width:100%">
		 <h2>Хронологія публікацій</h2>
		 <div class="legend">
		 	<svg width="5" height="15"><rect width="5" height="15" style="fill:#f00; opacity: 0.2"></rect></svg> - Додано проблему
		 </div>
    		<div id="visualization"></div>
	</div>
</div>
