table{
    margin: 20px;
}

thead{
    font-weight:700;
}
button{
    float: right;
}
.clear{
    clear: both;
}

.del, .def:hover{
    color: red;
}

#customEror{
    font-size:1.5em;
}

#customEror {
    font-size: 1.5em;
}
.return-profile{
    position: absolute;
    right: 20px;
    top:25px;
}

.selected {
  background-color: #eee;
}
/*buttons*/
.btn.btn-default.btn-border {
  border-color: #ffffff;
  color: #fff;
}
.btn.btn-primary.btn-border {
  border-color: #bedef3;
  color: #3498db;
}
.btn.btn-success.btn-border {
  border-color: #2ecc71;
  color: #2ecc71;
}
.btn.btn-info.btn-border {
  border-color: #81cfe0;
  color: #81cfe0;
}
.btn.btn-warning.btn-border {
  border-color: #f39c12;
  color: #f39c12;
}
.btn.btn-danger.btn-border {
  border-color: #c0392b;
  color: #c0392b;
}
.btn.btn-border {
  border: 2px solid;
  background: transparent;
}