@font-face {
  font-family: "LatoRegular";
  src: url(Lato-Regular.ttf);
}

@font-face {
  font-family: "LatoBold";
  src: url(Lato-Bold.ttf);
}



body {
  overflow-x: hidden;
}
html, body, .wrapper {
  font-family: "LatoRegular", sans serif;
  height: 100%;
}
#filterProb{
  font-size: 12px;
}
.body-scroll-shown {
  overflow-y: scroll;
}
.select{
    margin-top: 30px;
}
.navbar.navbar-default {
  font-family: "LatoBold", sans serif;
  height: 3.7em;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.navbar-default .navbar-collapse {
  margin-left: 50px;
}

.navbar-brand {
  padding-top: 0px;
}

.navbar img {
  height: 70px;
  position: absolute;
  z-index: 100;
}

.nav.navbar-nav li {
  height: 100%;
  line-height: 4.5em;
  vertical-align: middle;
  cursor: pointer;
}


/*Modal dialog styles*/

.modal-dialog .help-block.with-errors li {
  line-height: 1em;
}

.modal-dialog {
  font-family: "LatoRegular", sans serif;
  text-transform: none;
  line-height: 1em;
}

.modal-dialog form {
  background-color: #fff;
}

#fetching{
  width:100%;
  height:100%;
  position: relative;
  z-index: 1000;
  font-size: 50px;
}
#fetching img{
  display: block;
  margin-left: 45%;
  margin-top: 20%;
}

/*problems filter */

.toogle {
  cursor: pointer;
  position: absolute;
  background-color: #ccc;
  right: -3.6em;
  bottom: 1.6em;
  -webkit-transform: rotate(-90deg);
  border: 1px solid transparent;
  border-radius: 0 0 5px 5px;
  padding: 0.1em;
  z-index: 99999999;
}

#filter {
  position: absolute;
  top: 6.4em;
  left: -25%;
  border: 2px solid #ccc;
  -webkit-transition: 1s;
  transition: 1s;
}

.toggle_hide {
  left: 0% !important;
}

#filter h4 {
  text-align: center;
  margin-bottom: 1.2em
}

.inform_probl_block {
  margin-left: 100%;
}

.hide_probl_block {
  margin-left: 50%;
}


/*Create User Form*/

.form-group input {
  width: 90%
}

.form-group label {
  text-align: center;
}
label.changeUser{
  text-align: center;
  line-height: 2.3;
  color: grey;
  font-size: 12px;
  margin-top:-5px;
}

#user_form {
  width: 200px;
}

#user_form input {
  margin-top: 20px;
}

.checkbox {
  font-size: 0.8em
}

#user_form button {
  margin-left: 25%
}

#user_form .btn.btn-primary {
  width: 100px;
}

.sing_in_buttons_block {
  margin-top: 1em;
  margin-left: 5%;
}

.sing_in_button {
  display: inline-block;
  background-color: #fff;
  color: #777;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 2.2em;
  width: 44%;
  position: relative;
  margin: 0 !important;
  margin-left: 2% !important;
  margin-bottom: -100% !important;
  vertical-align: center;
  line-height: 2.2em;
  text-align: center;
}

.sing_in_button:active {
  border: 2px solid #ccc;
  background-color: #ddd
}

.sing_in_button:focus {
  border: none;
}

.hidden {
  display: none;
}


/*registration form*/

.registr_block {
  width: 60%;
  display: none;
  margin-top: -20%;
  font-family: 'LatoRegular', sans-serif;
  transition: 1s;
  -webkit-transition: opacity 1s;
}

.registr_block h1 {
  background: #3399cc;
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
}

form {
  /*background:#f0f0f0;*/
  padding: 6% 4%;
}

.registr_block input:not([type='submit']) {
  width: 90%;
  background: #fff;
  margin-bottom: 3%;
  margin-left: 5%;
  border: 1px solid #ccc;
  padding: 4%;
  font-family: 'LatoRegular', sans-serif;
  font-size: 95%;
  color: #555;
}

.registr_block input[type='submit'] {
  font-size: 1.3em;
  margin-top: 1em;
}

.registr_btn {
  width: 100%;
  background: #3399cc;
  border: 0;
  padding: 4%;
  font-family: 'LatoRegular', sans-serif;
  font-size: 100%;
  color: #fff;
  cursor: pointer;
  transition: background .3s;
  -webkit-transition: background .3s;
}

.registr_btn:hover {
  background: #2288bb;
}

.visibible {
  display: block;
}

.warning {
  margin-left: 5%;
  margin-top: -1%;
  text-transform: uppercase;
  color: red;
}

#log_out button {
  margin-left: 20%;
}

.message {
  position: absolute;
  top: calc(50% - 140px);
  left: calc(50% - 300px);
  width: 600px;
  height: 280px;
  z-index: 1000;
  background: #ccc;
  color: button;
  padding: 60px;
  box-sizing: border-box;
  border-radius: 6px;
  -webkit-transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  opacity: 0;
}

.message.active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.okay {
  display: block;
  height: 4em;
  width: 10em;
  margin: 10% auto;
  background: #e68a6c;
  border: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 6px;
}

.okay:focus {
  outline: none;
}

.okay:hover {
  background: #e8967b;
}

.okay:active {
  background: #ca4c22;
}

#message_head {
  margin-left: 35%;
  margin-top: -7%;
  margin-bottom: 10%;
}

#message_text {
  font-size: 1.8em;
  text-align: center;
}


/*Map styles*/
.map-div{
  width: 1%;
  height: 100%;
}

/*UserProfile styles*/
@media screen and (max-width: 960px) {
  .panel-body .profile {
    float: left;
    margin-left: 28px;
    margin-bottom: 15px;
    padding-right: 35px;
  }
}

.user-profile {
  margin-top: 30px;
}

.user-profile .user-info-brief {
  text-align: center;
  font-family: "LatoBold";
  font-size: 20px;
}

.user-profile .list-group {
  padding-top: 20px;
}

.user-profile img {
  border-radius: 10%;
  float: right;
}

.user-profile .change-photo {
  clear: both;
}

.user-profile .user-info {
  padding-left: 30px;
}

.user-profile .change-password, .user-profile .add-profile-photo {
  background-color: #fff;
  padding-top: 20px;
}

.user-profile .panel {
  position: relative;
}

.user-profile .close-button {
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  right: 20px;
  top: 0;
  text-decoration: none;
  color: black;
}

.del, .def:hover {
  color: red;
}

.fl-right {
  float: right;
}

.clear {
  clear: both;
}

.page-edit-form {
  background-color: #fff;
}

.page-edit-form input {
  width: 100%;
}

.error-404 {
  text-align: center;
}

.error-404 .video-fluid {
  width: 100%;
  height: 600px;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('http://bradsknutson.com/wp-content/uploads/2013/04/page-loader.gif') 50% 50% no-repeat rgb(249, 249, 249);
}

.btn.edit_btn {
  margin-left: 10px;
}

.facebook {
  background-color: #3b5998;
  border-color: #335190;
}

.facebook:hover, .facebook:active, .facebook:focus {
  background-color: #335190;
}

.btn.btn-default.btn-border {
  border-color: #ffffff;
  color: #fff;
}

.btn.btn-primary.btn-border {
  border-color: #53a7df;
  color: #3498db;
}

.btn.btn-success.btn-border {
  border-color: #2ecc71;
  color: #2ecc71;
}

.btn.btn-info.btn-border {
  border-color: #81cfe0;
  color: #81cfe0;
}

.btn.btn-warning.btn-border {
  border-color: #EDD95F;
  color: #D1C054;
}

.btn.btn-danger.btn-border {
  border-color: #F04848;
  color: #c0392b;
}

.btn.btn-border {

  border: 2px solid;
  background: transparent;
}
.respons{
    max-width:150px; 
    min-width: 100px;
}
@media screen and (max-width: 750px) {
  .respons{
    margin-top: 10px;
  }
}


.btn.btn-primary:hover {
  background-color: #53a7df;
  color: #fff;
}

.btn.btn-success:hover {
  background-color: #25a25a;
  color: #fff;
}

.btn.btn-info:hover {
  background-color: #58bfd6;
  color: #fff;
}

.btn.btn-warning:hover {
  background-color: #F5E062;
  color: #fff;
}

.btn.btn-danger:hover {
  background-color: #EB4646;
  color: #fff;
}

.fa {
  line-height: 40px;
  vertical-align: middle;
  font-size: 2.7em
}

input[type="checkbox"] {
  width: 1.3em;
  height: 1.8em;
}

.det-problem-modal .title {
  margin-top: 0px;
  margin-bottom: 30px;
  word-wrap : break-word;  
}

.det-problem-modal .general, .problemBlock .general {
  background-color: #eee;
  padding: 7px;
  margin-bottom: 10px;
}
.general .row{
  height:2.7em;
  min-height: 2.7em;
}

.det-problem-modal .rate, .problemBlock .rate {
  float: left;
  font-size: 18px;
}

.det-problem-modal .solution, .problemBlock .solution {
  float: right;
  font-size: 18px;
}

.solved {
  color: #008800;
}

.unsolved {
  color: #880000;
}

.eye_subscription{
  font-size: 22px;
  position: relative;
  bottom: 6px;
  padding-left: 75%;
}

.eye_subscription>.fa{  
  cursor: pointer;
}

.det-problem-modal .problem-type, .det-problem-modal .description, .det-problem-modal .proposal, .det-problem-modal .photos, .problemBlock .problem-type, .problemBlock .description, .problemBlock .proposal, .problemBlock .photos {
  padding: 10px;
  word-wrap : break-word;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
}

[ui-view].ng-enter-active {
  opacity: 1;
}

[ui-view].ng-leave {
  opacity: 1;
}

[ui-view].ng-leave-active {
  opacity: 0;
}

.admin {
  position: absolute;
  top: -100%;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(100, 100, 100, 0.1);
  z-index: 99999999;
}
.addProblemBlock{
  padding: 10px 5px;
  overflow-y: auto;
  background-color: #fff;
}
.add-photo{
  padding: 10px;
}
.descrBlock{
  word-wrap: break-word;
  max-width: 200px !important;

}
.problemBlock {
  padding: 10px 5px;
  overflow-y:auto;
  overflow-x:hidden !important; 
  background-color: #fff;
}

.problemBlock .close{
  position: absolute;
  right: 5px;
}

.severity {
  position: absolute;
  top: 0.1em;
  left: -2em;
}

.severity li {
  list-style: none;
  display: inline;
  margin-right: 0.1em;
}

.selectSeverity {
  color: red;
}

.login.panel-content, .register.panel-content {
  padding: 20px;
}

.addProblem {
  margin: 0;
}

.error-page-header {
  font-size: 72px;
  font-weight: 700;
}

.photos img {
  width: 100px;
  height: 100px;
  margin: 10px;
}


/*Flex declaration*/

.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}
/*.main-flex{
  height: 100%;
}*/
.flex-row {
  flex-direction: row;
}

.flex-item-1 {
  flex: 1;
}

.flex-item-2 {
  flex: 2;
}

.flex-item-3 {
  flex: 3;
}
.solution.unsolved.forSmall{
  margin-top: 10px;
  margin-bottom: 10px;
}
#user_form .form-group, .checkbox {
  margin-left: 15px;
}
.subcomment.checkbox{
      margin: 0;
    }
@media screen and (min-width: 300px) and (max-width: 760px){
    .flex-item-5{
      flex-basis:100%;
    }
    .sidebar{
      min-width: 300px;
      max-width: 760px;
    }
    .flex6{
      min-width: 0;
      max-width: 0;
    }
    .flex-item-2{
      width: 1px;
    }
    form {
      padding: 6% 7%;
    }
  }
@media screen and (min-width: 761px) and (max-width: 992px){
    .flex-item-5{
      flex-basis:30%;
    }
    .sidebar{
      min-width: 300px;
      max-width: 500px;
    }
    .hideMe{
      display: none;
    }
  }
@media screen and (min-width: 993px) and (max-width: 1200px){
    .sidebar{
      min-width: 300px;
      max-width: 500px;
    }
    .hideMe{
      display: none;
    }
  }
@media screen and (min-width: 1201px){
    .sidebar{
      min-width: 300px;
      max-width: 500px;
    }
    .hideMe{
      display: none;
    }
  }
.eye_subscription.forSmall{
  position:relative;
  top: 5px;
}
.overflow-on {
  overflow-y: auto;
}

.toast-top-right {
  top: 60px !important;
  right: 12px;
}
.filter{
  height: 92vh;
  background-color: #fff;
  transition:1s;
  position: relative;
}

.filter-controllers{
  padding: 20px;
  width: 300px;
}
.filter-controllers .heading{
  font-weight: 700;
  font-size: 18px;
}

.filter-toogle{
  z-index:9999;
  cursor: pointer;
  position: absolute;
  background-color: #fff;
  padding-left: 5px;
  height: 25px;
  width: 80px;
  border:2px solid #bbb;
  border-bottom: none;
  border-radius: 5px 5px 0px 0;
  transform: rotate(90deg);
  right: -51px;
  bottom: 70px;
}
 .map-toogle{
  z-index: 9999;
  cursor: pointer;
  position: absolute;
  background-color: #fff;
  padding-left: 5px;
  height: 25px;
  width: 80px;
  border: 2px solid #bbb;
  border-bottom: none;
  border-radius: 5px 5px 0px 0;
  transform: rotate(90deg);
  left: -29px;
  bottom: 400px;
  font-size: 12px;
  font-family: "LatoRegular", sans serif;
}
.time {
  text-align: right;
  font-style: italic;

}
.showBlock{
  height: 20vh;
}

.selectedType{
  background-color: #111;
}
.showFilter{
  left: 0%;
}
.problTypes , .status{
  margin-left: -15%;
  margin-top: 6%;
}
.problTypes li , .status li{
  cursor: pointer;
  width: 100%;
  list-style: none;
  margin-top: 0.3em;
  padding-left: 0.55em;
  font-size: 1.1em;
  height: 1.75em;
}
.indicator{
  float: right;
  margin-right: 0.5em;
  margin-top: 0.3em;

}
.full button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}
.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}
.input-group .form-control{
  width: 185%;
}
table .form-control{
  width: 50%
}
.table th{
  cursor: pointer;
  position: absolute;
  top:0;
  width: 30%;
  left: -30%;
  height: 91vh;
  background-color: #fff;
  transition:1s;
}
.comment-input, .wrapping{
  width: 100%;
  word-wrap : break-word;
}

textarea{
  resize: none;
}
.comment-block{
  overflow: auto;
  word-wrap : break-word;
  width: 100%;
}


.problem-title{
  word-wrap: break-word;
  max-width: 350px;
}
table.UserProblemTable select{
  width: 100%;
}

.delete-account{
  padding: 18px;
}
.delete-account .wait{
  padding-top: 3px;
  padding-bottom: 3px;
}
.delete-account span img{
  float: none;
}
.info-del{
  margin-left:15px;
}

.avatar{
  width:150px;
  height: 150px;
}

hr.problems{
  margin-top:5px;
}
h3.title{
  margin-bottom:0px;
}

.comment-reply{
  padding: 0px 15px 5px 15px;
  font-size: 12px;
  position: relative;
  right: 3px;
}

.subcomment-reply{
  position: absolute;
  right: 8px;
  top: 45px;
}

.subcomment-reply+.comment-block{
  padding-right: 22px;
}

.comment-reply a{
  text-decoration: none;
}

.comment-reply a:hover{
  color: #555;
}

.comment-update:hover{
  color: #555;
}

.subcomment-form{
  float: right; 
  padding-top: 0px;
}
form.form-inline.form-search{
    padding:10px 0 5px 0;
}
select.form-problems{
  margin-top: 10px;
}

select.form-comments{
  margin-top: 10px;
}

.container-fluid,
.navbar-default .navbar-nav>.open>a:hover{
  background-color: #FFF;
}

.b-right-side__show-problem{
  height: 100%;
  width: 100%;
  overflow:auto;
}

.input-group .no-float{
	float: none;
    word-break: break-word;
}

.comment-row{
	margin: 5px;
}

.comment-row a{
	color: black;
	text-decoration: none;
}

.responsive-icon{
      height: 20px; 
      width: 15px;
}

.tooltip-inner {
    white-space:pre;
    max-width:none;
}

.comment-update {
  margin-left: 5px; 
  color: #337ab7;
}

.editComment:hover {
  color: #337ab7;
  text-decoration: underline;
}

.comment-input {
  border-radius: 0px;
  border-color: rgb(169, 169, 169);
}

.cancel-comment {
  color:#a6abb5;
  font-size: 10px;
}

.multiple-select-wrapper {
    width: 100%;
    position: relative;
}
.multiple-select-wrapper .selected-items-box {
    box-shadow: inset 1px -1px 5px 0 #CCCCCC;
    -webkit-box-shadow: inset 1px -1px 5px 0 #CCCCCC;
    -moz-box-shadow: inset 1px -1px 5px 0 #CCCCCC;
    -o-box-shadow: inset 1px -1px 5px 0 #CCCCCC;
    cursor: pointer;
    border: solid 1px #C7C6C7;
    padding: 5px;
    height: 32px;
    background-color: #fff;
    border-radius: 5px;
    -mox-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}
.selected-items-box .items-list {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
}
.selected-items-box .items-list li {
    cursor: pointer;
}
 
.items-list li {
    cursor: pointer;
}
 
.selected-items-box .items-list li img {
    display: inline;
    padding-left: 10px;
    height: 18px;
}
.selected-items-box .items-list li img {
    font-size: 20px;
}
.multiple-select-wrapper .list {
    display: none;
    height: 90px;
    overflow-y: auto;
    overflow-x: hidden;
    border-left: solid 1px #C7C6C7;
    border-right: solid 1px #C7C6C7;
    border-bottom: solid 1px #C7C6C7;
    z-index: 9999;
    position: absolute;
    width: 100%;
    border-radius: 5px;
    -mox-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}
.list .items-list {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
}
.list .items-list li {
    margin: 0;
    width: 100%;
    padding: 0;
    border-bottom: solid 1px #C7C6C7;
    padding: 5px;
    background-color: #fff;
    border-bottom: none;
}
.list .items-list li input {
    padding-left: 10px;
}
.list .items-list li img {
    padding-left: 10px;
    padding-right: 6px;
    height: 18px;
}
 
.list .items-list li span {
    color: #4A4A4A;
    font-size: 14px;
}
.dropdown-icon {
    position: absolute;
    top: 70%;
    right: 0;
    margin-top: -8px;
    width: 16px;
    height: 16px;
    background-image: url("http://s18.postimage.org/ht23xn8id/menu_arrow_down.png");
    background-repeat: no-repeat;
    background-position: 0 center;
}
.title{
  color: white;
}

.comments-nickname{
  width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sub-comments-count{
  min-width: 60px;
}

.statistic {
    margin: 10px 0;
    text-align: center;
}
.topProblems {
  display: inline-block;
  margin: 15px 5px;
  margin-right: 4%;
}
.statistic h2{
  font-size: 34px;
  font-weight: bold;
}
.topItem{
  margin-bottom: 0px;
}
.topItem>a {
  padding: 5px;
  border: rgba(0,0,0,.1) solid;
  margin: 5px;
  display: inline-block;
  width: 100%;
  font-family: arial;
}
.topItem>a:hover{
  background: linear-gradient(to bottom,#ecebe1 10%,#e6e3d0);
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}
.topItem>a >li {
  font-size: 18px;
  color: #000;
  line-height: 1;
  position: relative;
  text-align: left;
  height: 4em;
  list-style-type: none;
  font-family: arial;
}
.topItem>a>li>p {
  color: #7B7B7C;
  position: absolute;
  right: 5px;
  bottom: -5px;
}
.topProblems a:hover{
  text-decoration: none;
}
.topItem>a>li>p>i{
  padding-right: 4px;
  padding-bottom: 1px;
}
.pie-chart h1, .pie-chart p{
  color: rgb(51, 51, 51);
  font-size: 30px;
  text-align: center;
  font-family: "LatoBold";
}
label.checked{
  text-decoration: underline;
}
.period{
  color: #428bca;
}
.period input{
  display: none;
}
.all-statistic{
  list-style: none;
  color: #33374E;
  margin-top: 20px;
  margin-bottom: 40px;
}
.all-statistic li:first-child{
  font-size: 106px;
  line-height: 0.8;
}
.all-statistic li:last-child{
  font-size: 21px;
}