form .progress {
    line-height: 15px;
}
.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}
.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}

/* line 1, ../../source/scss/ng-img-crop.scss */
img-crop {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}
/* line 7, ../../source/scss/ng-img-crop.scss */
img-crop canvas {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /* mobile webkit */
}

.cropArea {
    position: relative;
    background: #f9f9f9;
    overflow: hidden;
    height:350px;
}


.profile {
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    float: right;
    text-shadow: 1px 1px 1px rgb(95, 94, 94);
    font-size: 1.3em;
    line-height: 1.3em;
}


.profile span.text-content span {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
    margin: auto;
}

.profile span.text-content {
    margin: auto;
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: flex;
  height: 100%;
  position: absolute;
  width: 100%;
  opacity: 0;
  border-radius: 10%;
}

.profile:hover span.text-content {
  opacity: 1;
}

.modal-resize span.image-info{
    color: #777777;
    text-align: right;
    display: inline-block;
    font: italic 1em/1.1em serif
}

.photo-btn{
    margin: 10px 0;
    width: 49.5%;
}

.photo-btn.add {
    color: #337ab7;
    background: rgb(255, 255, 255);
}

.photo-btn.remove {
    color: red;
    background: white;
}

.photo-btn.add:hover {
    color: whitesmoke;
    background: #337ab7;
    margin-top:0;
}

.photo-btn.remove:hover {
    color: whitesmoke;
    background: #C9302C;
}

.photo-btn.bottom{
    margin: 2% 0 0 10%;
}
span.image-err{
    float: right;
    color: #FFFFFF;
    font-size: 1.8em;
    margin: 0 25px 10px 0;
    background: #D9534F;
    padding: 10px;
    border-radius: 5%;

}

.thumbs{
    display: inline-flex;
    width: 100%;
    height: 90%;
    flex-wrap: wrap;
    flex-direction: row;
    background: #f9f9f9;
    cursor:copy;
}

.thumb-box{
    /*width: 50%;*/
    margin: 1%;
    padding: 0;
    text-align: center;
    position: relative;
    float: right;
    text-shadow: 1px 1px 1px rgb(95, 94, 94);
    font-size: 1.3em;
    line-height: 1.3em;
}

.thumb, .thumbPhoto {
    overflow: hidden;
    z-index: 2;
    width: 150px;
    height: 150px;
    position: relative;
    display: inline-flex;
    max-width: 100%;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.thumbPhoto{
  overflow: hidden;
    z-index: 2;
    width: 70px;
    height: 70px;
    position: relative;
    display: inline-flex;
    max-width: 100%;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.thumb-descr {
    z-index: 2;
    width: 150px;
    height: 150px;
    vertical-align: top;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.thumb span.text-content span {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin: auto;
}

.thumb span.text-content {
  margin: auto;
  background: rgba(159, 39, 39, 0.91);
  color: white;
  cursor: pointer;
  display: flex;
  height: 100%;
  position: absolute;
  width: 100%;
  opacity: 0;
  top:0;
  left: 0;
}

.thumb:hover span.text-content {
  opacity: 1;
}

.uploadPhoto {
    padding: 2% 0;
}